---
import BaseLayout from '@layouts/BaseLayout.astro';
import '@styles/pages/general/index.css';
import { Image } from 'astro:assets';
import ClientSlider from '@components/ClientSlider.astro';
import TestimonialSlider from '@components/TestimonialSlider.astro';
import Badges from '@components/Badges.astro';
import CtaBlueWanna from '@components/CtaBlueWanna.astro';
import BlogPosts from '@components/BlogPosts.astro';
import { $imageUrl, $videoUrl, $imageAsset } from '@utils/assets';

const organizeSlides = [
    {
        icon: '/mainPage/organize/icon-1.svg',
        title: 'Customers',
        $videoUrl: '/customers/video.mp4',
        h3: 'Organize your customer base and work with it efficiently',
        listItems: [
            '<b>no more</b> adding new contacts manually;',
            '<b>no more</b> cleaning up duplicate contacts;',
            '<b>no more</b> reminding the team to fill in all details'
        ],
        link: '/customers',
        linkText: 'More on Customers in NetHunt CRM'
    },
    {
        icon: '/mainPage/organize/icon-2.svg',
        title: 'Leads',
        $videoUrl: '/leads/video.mp4',
        h3: 'Automate lead generation processes and act on new opportunities fast',
        listItems: [
            '<b>capture leads</b> from multiple channels;',
            '<b>get enriched</b> CRM profiles;',
            '<b>nurture leads automatically</b> for faster sales.'
        ],
        link: '/leads',
        linkText: 'More on Leads in NetHunt CRM'
    },
    {
        icon: '/mainPage/organize/icon-3.svg',
        title: 'Pipelines',
        $videoUrl: '/pipelines/video.mp4',
        h3: 'Manage all the deals from the cetralised view',
        listItems: [
            '<b>sort deals</b> by priority and chance to close;',
            'know exactly <b>where the deals are stuck</b>;',
            'feel confident about <b>sales forecasts.</b>'
        ],
        link: '/pipelines',
        linkText: 'More on Pipelines in NetHunt CRM'
    },
    {
        icon: '/mainPage/organize/icon-4.svg',
        title: 'Reports',
        $videoUrl: '/reports/video.mp4',
        h3: 'Track of all the sales activity within key metrics for your business',
        listItems: [
            'identify the <b>reasons of lost deals</b>;',
            '<b>track progress</b> within certain period;',
            'get to know <b>what your team is doing.</b>'
        ],
        link: '/reports',
        linkText: 'More on Reports in NetHunt CRM'
    }
];

const automateSlides = [
    {
        image: '/mainPage/automate/image1.png',
        image2x: '/mainPage/automate/image1@2x.png',
        alt: 'Capture leads effortlessly screen',
        title: 'Capture leads effortlessly',
        description: 'Add new leads automatically or with a click of a button, scrape lead data and pop it immediately into your CRM system.'
    },
    {
        image: '/mainPage/automate/image2.png',
        image2x: '/mainPage/automate/image2@2x.png',
        alt: 'No lead falls through the cracks screen',
        title: 'No lead falls through the cracks',
        description: 'Launch automatic email sequences to engage leads. Analyze campaign results by reviewing views, clicks, replies and adjust it for maximum effectiveness.'
    },
    {
        image: '/mainPage/automate/image3.png',
        image2x: '/mainPage/automate/image3@2x.png',
        alt: 'Data entry? Forget about it screen',
        title: 'Data entry? Forget about it',
        description: 'Create contacts at the click of a button from inbound emails; do the same from calls, chats, or social media like LinkedIn with native NetHunt CRM integrations.'
    },
    {
        image: '/mainPage/automate/image4.png',
        image2x: '/mainPage/automate/image4@2x.png',
        alt: 'Sales Process screen',
        title: 'Sales Process',
        description: 'Our Workflows feature moves leads along sales pipelines, creates a set of tasks for your team, assigns leads, updates CRM contacts, and much more!'
    }
];

const chevronSvg = '<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_3603_2615)"><path d="M19.355 10.0217L14 15.3651L8.645 10.0217L7 11.6667L14 18.6667L21 11.6667L19.355 10.0217Z" fill="#5A6271"/></g><defs><clipPath id="clip0_3603_2615"><rect width="28" height="28" fill="white"/></clipPath></defs></svg>';

const channelsSlides = [
    {
        icon: '/mainPage/channel/icon1.svg',
        title: 'Email',
        h3: 'Tie customer emails<br> to CRM records',
        description: 'Being natively integrated with Gmail, NetHunt CRM allows you to connect email correspondence with the CRM record, send email campaigns in bulk, and analyse them.',
        img: '/mainPage/channel/img1.png',
        img2x: '/mainPage/channel/img1@2x.png',
        imgMob: '/mainPage/channel/img1-mob.png',
        imgMob2x: '/mainPage/channel/img1-mob@2x.png'
    },
    {
        icon: '/mainPage/channel/icon2.svg',
        title: 'Social Media',
        h3: 'Generate and talk to<br> leads on social media',
        description: 'Due to tight integration with LinkedIn and Facebook Messenger, you can unlock a fruitful channel of high-quality leads and add them to NetHunt CRM in a few clicks.',
        img: '/mainPage/channel/img2.png',
        img2x: '/mainPage/channel/img2@2x.png',
        imgMob: '/mainPage/channel/img2-mob.png',
        imgMob2x: '/mainPage/channel/img2-mob@2x.png'
    },
    {
        icon: '/mainPage/channel/icon3.svg',
        title: 'Telephony',
        h3: 'Give your prospects a call',
        description: "Our integration with multiple telephony systems allows sales teams to make and receive calls, log calls, listen to recordings to adjust sales strategy, and control your team's performance.",
        img: '/mainPage/channel/img3.png',
        img2x: '/mainPage/channel/img3@2x.png',
        imgMob: '/mainPage/channel/img3-mob.png',
        imgMob2x: '/mainPage/channel/img3-mob@2x.png'
    },
    {
        icon: '/mainPage/channel/icon4.svg',
        title: 'Messengers',
        h3: 'Keep the history of<br> message exchange',
        description: 'Add another lead generation channel to your stack. Connect conversations with customers through messengers like Facebook or Telegram and offer a better conversational experience.',
        img: '/mainPage/channel/img4.png',
        img2x: '/mainPage/channel/img4@2x.png',
        imgMob: '/mainPage/channel/img4-mob.png',
        imgMob2x: '/mainPage/channel/img4-mob@2x.png'
    },
    {
        icon: '/mainPage/channel/icon5.svg',
        title: 'Live chats',
        h3: 'Create new sales<br> opportunities from chats',
        description: "Don't miss a chance to convert chat conversations on the website into sales pipeline opportunities. Store every piece of communication under the customer record.",
        img: '/mainPage/channel/img5.png',
        img2x: '/mainPage/channel/img5@2x.png',
        imgMob: '/mainPage/channel/img5-mob.png',
        imgMob2x: '/mainPage/channel/img5-mob@2x.png'
    }
];
---

<BaseLayout
    title="Gmail CRM for Sales and Marketing | NetHunt CRM"
    description="NetHunt is a Gmail CRM that brings sales automation and drip campaigns straight to your inbox. Start your free trial to try it out today. Cancel any time."
    ogImage="/static/images/mainPage/og.png"
    ogType="website"
>
    <div class="wrapper">
        <section class="home">
            <div class="container">
                <div class="home-item">
                    <h1>CRM for sales<br> and marketing teams</h1>
                    <h2>integrated with &nbsp;<a href="https://chrome.google.com/webstore/detail/nethunt-crm-for-gmail/kaeigipjcamcanmmhgpniimjagdleoee" target="_blank" aria-label="NetHunt CRM for Gmail Chrome extension"><svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.36332 15.5274H4.54441V7.80186L0 4.39355V14.164C0 14.9173 0.610087 15.5274 1.36332 15.5274Z" fill="#4285F4"/><path d="M15.451 15.5274H18.6321C19.3854 15.5274 19.9955 14.9173 19.9955 14.164V4.39355L15.451 7.80186V15.5274Z" fill="#34A853"/><path d="M15.451 1.89434V7.80207L19.9955 4.39376V2.576C19.9955 0.891162 18.072 -0.0711168 16.7235 0.940014L15.451 1.89434Z" fill="#FBBC04"/><path d="M4.54443 7.80202V1.89429L9.99772 5.98426L15.451 1.89429V7.80202L9.99772 11.892L4.54443 7.80202Z" fill="#EA4335"/><path d="M0 2.576V4.39376L4.54441 7.80207V1.89434L3.27198 0.940014C1.92342 -0.0711168 0 0.891162 0 2.576Z" fill="#C5221F"/></svg></a> Gmail and &nbsp;<a href="https://chrome.google.com/webstore/detail/nethunt-crm-for-linkedin/gkcdjgjhmpmjdikeokefahhecpbecldb" aria-label="NetHunt CRM for LinkedIn extension" target="_blank"><svg version="1.1" width="18px" height="18px" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 382 382" style="enable-background:new 0 0 382 382;" xml:space="preserve"><path style="fill:#0077B7;" d="M347.445,0H34.555C15.471,0,0,15.471,0,34.555v312.889C0,366.529,15.471,382,34.555,382h312.889C366.529,382,382,366.529,382,347.444V34.555C382,15.471,366.529,0,347.445,0z M118.207,329.844c0,5.554-4.502,10.056-10.056,10.056H65.345c-5.554,0-10.056-4.502-10.056-10.056V150.403c0-5.554,4.502-10.056,10.056-10.056h42.806c5.554,0,10.056,4.502,10.056,10.056V329.844z M86.748,123.432c-22.459,0-40.666-18.207-40.666-40.666S64.289,42.1,86.748,42.1s40.666,18.207,40.666,40.666S109.208,123.432,86.748,123.432z M341.91,330.654c0,5.106-4.14,9.246-9.246,9.246H286.73c-5.106,0-9.246-4.14-9.246-9.246v-84.168c0-12.556,3.683-55.021-32.813-55.021c-28.309,0-34.051,29.066-35.204,42.11v97.079c0,5.106-4.139,9.246-9.246,9.246h-44.426c-5.106,0-9.246-4.14-9.246-9.246V149.593c0-5.106,4.14-9.246,9.246-9.246h44.426c5.106,0,9.246,4.14,9.246,9.246v15.655c10.497-15.753,26.097-27.912,59.312-27.912c73.552,0,73.131,68.716,73.131,106.472L341.91,330.654L341.91,330.654z"/></svg></a> LinkedIn</h2>
                    <p>NetHunt CRM is a sales automation tool that helps you manage leads, nurture customer relations, monitor sales progress, and close more deals.</p>
                    <p class="home-action">
                        <a target="_blank" href="https://nethunt.com/web/?rg=GLOBAL&l=en" onclick="trackEvent('get_started_click', 'first_screen', this.innerText);" class="btn btn--blue btn--big" rel="noopener">Start free trial</a>
                    </p>
                    <p class="home-stars">
                        <img src={$imageUrl('/mainPage/rating.svg')} alt="based on G2 customer reviews">
                        based on G2 customer reviews
                    </p>
                    <p>
                        <Image src={$imageAsset('/mainPage/google-partner@2x.png')} width={149} height={54} densities={[1, 2]} alt="Google Cloud Partner" class="home-img" />
                        <Image src={$imageAsset('/mainPage/sa@2x.png')} width={149} height={54} densities={[1, 2]} alt="Passed Google Security Assessment Program" class="home-img" />
                    </p>
                </div>
                <div class="home-item home-item-uk">
                    <div class="home-video poster" data-aos="fade-left" data-aos-delay="300">
                        <img src={$imageUrl('/leads/window-header.svg')} alt="video wrapper">
                        <video class="video" autoplay loop muted playsinline>
                            <source data-src={$videoUrl('/mainPage/home.mp4')} type="video/mp4">
                        </video>
                        <div class="home-ball"></div>
                        <div class="home-ball" data-aos="zoom-in" data-aos-delay="800"></div>
                    </div>
                    <p><a href="#" onclick="trackEvent('request_demo_click', 'first_screen', this.innerText); return scheduleDemoDialog('first_screen');" class="btn btn--demo"><svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(#filter0_i_1463_883)"><path d="M14 4.5V1C14 0.45 13.55 0 13 0H1C0.45 0 0 0.45 0 1V11C0 11.55 0.45 12 1 12H13C13.55 12 14 11.55 14 11V7.5L18 11.5V0.5L14 4.5Z" fill="#FF238C"/></g><defs><filter id="filter0_i_1463_883" x="0" y="0" width="18" height="14" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="2"/><feGaussianBlur stdDeviation="1"/><feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="shape" result="effect1_innerShadow_1463_883"/></filter></defs></svg>Request demo</a></p>
                </div>
            </div>
            <div class="bubble"></div>
        </section>

        <ClientSlider />

        <section class="organize">
            <div class="container">
                <h2>Organize your data</h2>
                <p>NetHunt automatically structures and streamlines business data effectively and productively.</p>
                <div class="organizeSlider">
                    <div class="organizeSlider-controls">
                        {organizeSlides.map((slide, i) => (
                            <button class={i === 0 ? 'active' : undefined} aria-label={`slide ${slide.title}`}>
                                <img src={$imageUrl(slide.icon)} alt={`${slide.title} icon`} loading="lazy">
                                <span>{slide.title}</span>
                            </button>
                        ))}
                    </div>
                    <div class="organizeSlider-content">
                        {organizeSlides.map(slide => (
                            <div class="organizeSlider-item">
                                <div class="organizeSlider-video">
                                    <img src={$imageUrl('/mainPage/video-top.svg')} alt="yellow ball">
                                    <video class="lazy" autoplay loop muted playsinline>
                                        <source data-src={$videoUrl(slide.$videoUrl)} type="video/mp4">
                                    </video>
                                </div>
                                <div>
                                    <h3>{slide.h3}</h3>
                                    <ul>
                                        {slide.listItems.map(item => (
                                            <li set:html={item} />
                                        ))}
                                    </ul>
                                    <a class="arrowLink blue" target="_blank" href={slide.link} rel="noopener">{slide.linkText}</a>
                                </div>
                            </div>
                        ))}
                    </div>
                    <img src={$imageUrl('/mainPage/ball-blue.svg')} alt="blue ball">
                </div>
            </div>
        </section>
    </div>

    <section class="automate">
        <div class="container">
            <h2>Automate sales routine</h2>
            <p>NetHunt takes the hard work out of working hard, giving your business the time and money it needs.</p>
            <div class="automateSlider">
                <div class="automateSlider-image">
                    <div class="automateSlider-image-content">
                        {automateSlides.map(slide => (
                            <picture>
                                <source media="(max-width: 767px)" srcset={$imageUrl('/mainPage/null.png')}>
                                <Image src={$imageAsset(slide.image2x)} width={570} height={470} densities={[1, 2]} alt={slide.alt} loading="lazy" />
                            </picture>
                        ))}
                    </div>
                </div>
                <div class="automateSlider-content">
                    {automateSlides.map(slide => (
                        <div class="automateSlider-item">
                            <picture>
                                <source media="(max-width: 767px)" srcset={`${$imageUrl(slide.image)} 1x, ${$imageUrl(slide.image2x)} 2x`}>
                                <img src={$imageUrl('/mainPage/null.png')} alt={slide.alt} loading="lazy">
                            </picture>
                            <h3 set:html={`${slide.title}${chevronSvg}`} />
                            <p>{slide.description}</p>
                        </div>
                    ))}
                </div>
                <div class="automateSlider-controls">
                    {automateSlides.map(_ => (
                        <button></button>
                    ))}
                </div>
            </div>
            <a class="arrowLink blue" href="/sales-automation" rel="noopener">More about sales automation</a>
        </div>
    </section>

    <div class="gradient">
        <section class="channels">
            <div class="container">
                <h2><span class="pink">Centralize communication</span><br> of multiple channels</h2>
                <p>Communicate with customers through multiple channels. Pull the data from every channel to NetHunt CRM automatically.</p>
                <div class="channelsSlider">
                    <div class="organizeSlider-controls">
                        {channelsSlides.map((slide, i) => (
                            <button class={i === 0 ? 'active' : undefined} aria-label={`slide ${slide.title}`}>
                                <img src={$imageUrl(slide.icon)} alt={`${slide.title} screen`} loading="lazy">
                                <span>{slide.title}</span>
                            </button>
                        ))}
                    </div>
                    <div class="organizeSlider-content">
                        {channelsSlides.map(slide => (
                            <div class="organizeSlider-item">
                                <div>
                                    <h3 set:html={slide.h3} />
                                    <p>{slide.description}</p>
                                </div>
                                <picture>
                                    <source media="(max-width: 1023px)" srcset={`${$imageUrl(slide.imgMob)} 1x, ${$imageUrl(slide.imgMob2x)} 2x`}>
                                    <Image src={$imageAsset(slide.img2x)} width={598} height={338} densities={[1, 2]} alt={`${slide.title} screen`} loading="lazy" />
                                </picture>
                            </div>
                        ))}
                    </div>
                </div>
                <a class="btn btn--blue" href="https://nethunt.com/web/?rg=GLOBAL&l=en" onclick="trackEvent('get_started_click', 'channels_screen', this.innerText);" rel="noopener">Start free trial</a>
            </div>
        </section>

        <TestimonialSlider />

        <BlogPosts />

        <Badges />

        <section class="integrations">
            <div class="container">
                <h2>The Perfect CRM <span>in combination with...</span></h2>
                <div class="integrations-wrapper">
                    <a href="/integrations/gmail" class="integrations-item"><img data-aos="zoom-in" data-aos-offset="150" data-aos-anchor=".integrations-wrapper" src={$imageUrl('/mainPage/integrations/icon-1.svg')} alt="Gmail logo" loading="lazy"></a>
                    <a href="/integrations/google-workspace" class="integrations-item"><img data-aos="zoom-in" data-aos-offset="150" data-aos-delay="150" data-aos-anchor=".integrations-wrapper" src={$imageUrl('/mainPage/integrations/icon-2.svg')} alt="Google Calendar logo" loading="lazy"></a>
                    <a href="/integrations/google-workspace" class="integrations-item"><img data-aos="zoom-in" data-aos-offset="150" data-aos-delay="300" data-aos-anchor=".integrations-wrapper" src={$imageUrl('/mainPage/integrations/icon-3.svg')} alt="Google Docs logo" loading="lazy"></a>
                    <a href="/integrations/google-contacts" class="integrations-item"><img data-aos="zoom-in" data-aos-offset="150" data-aos-delay="450" data-aos-anchor=".integrations-wrapper" src={$imageUrl('/mainPage/integrations/icon-4.svg')} alt="Google Contacts logo" loading="lazy"></a>
                    <a href="/integrations/data-studio" class="integrations-item"><img data-aos="zoom-in" data-aos-offset="150" data-aos-delay="600" data-aos-anchor=".integrations-wrapper" src={$imageUrl('/mainPage/integrations/icon-5.svg')} alt="Data Studio logo" loading="lazy"></a>
                    <a href="/integrations/google-workspace" class="integrations-item"><img data-aos="zoom-in" data-aos-offset="150" data-aos-delay="750" data-aos-anchor=".integrations-wrapper" src={$imageUrl('/mainPage/integrations/icon-6.svg')} alt="Google Chat logo" loading="lazy"></a>
                    <a href="/integrations/intercom" class="integrations-item"><img data-aos="zoom-in" data-aos-offset="150" data-aos-delay="900" data-aos-anchor=".integrations-wrapper" src={$imageUrl('/mainPage/integrations/icon-7.png')} alt="Intercom logo" loading="lazy"></a>
                    <a href="/integrations/facebook" class="integrations-item"><img data-aos="zoom-in" data-aos-offset="150" data-aos-delay="1050" data-aos-anchor=".integrations-wrapper" src={$imageUrl('/mainPage/integrations/icon-8.png')} alt="Messanger logo" loading="lazy"></a>
                    <a href="/integrations/linkedin" class="integrations-item"><img data-aos="zoom-in" data-aos-offset="150" data-aos-delay="1300" data-aos-anchor=".integrations-wrapper" src={$imageUrl('/mainPage/integrations/icon-9.svg')} alt="Linkedin logo" loading="lazy"></a>
                    <a href="/integrations/slack" class="integrations-item"><img data-aos="zoom-in" data-aos-offset="150" data-aos-delay="1450" data-aos-anchor=".integrations-wrapper" src={$imageUrl('/mainPage/integrations/icon-10.svg')} alt="Slack logo" loading="lazy"></a>
                </div>
                <a class="btn btn--light-blue" href="/integrations" rel="noopener">See all integrations</a>
            </div>
        </section>

        <CtaBlueWanna />
    </div>

    <script>
        import '@scripts/pages/general/index.js';
    </script>
</BaseLayout>
