---
import LogoWhite from "@assets/icons/logo-white.svg";
import DottedBorder from "@components/DottedBorder.astro";

const year = new Date().getFullYear();
// Prefix internal links with the configured base path (see astro.config.mjs)
const base = import.meta.env.BASE_URL.replace(/\/?$/, "/");

// Reusable line-icon paths, injected via set:html
const icons: Record<string, string> = {
  telegram: '<path d="M21 4 3 11l6 2.2M21 4l-3 16-7-5.4M21 4 9 13.2v5l3-3.4"/>',
  instagram:
    '<rect x="3" y="3" width="18" height="18" rx="5"/><circle cx="12" cy="12" r="4"/><circle cx="17" cy="7" r="1" fill="currentColor" stroke="none"/>',
  youtube:
    '<rect x="2" y="5" width="20" height="14" rx="4"/><path d="M10.5 9.5v5l4.5-2.5-4.5-2.5Z" fill="currentColor" stroke="none"/>',
  facebook:
    '<path d="M16 8h-2a2 2 0 0 0-2 2v2H9v3h3v6h3v-6h2.5l.5-3H15v-1.5a.5.5 0 0 1 .5-.5H16V8Z"/>',
};

const socialLinks = [
  {
    href: "#",
    label: "Telegram",
    icon: `<svg xmlns="http://w3.org" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M19.1756 6.01712C18.983 7.34107 17.6806 16.3363 17.2588 19.1594C17.2595 19.3708 17.2093 19.5788 17.1127 19.7637C17.0162 19.9485 16.8767 20.104 16.7074 20.2154C16.5382 20.3267 16.3448 20.3901 16.1459 20.3996C15.947 20.409 15.7491 20.3641 15.5711 20.2692C15.0172 20.0629 14.4949 19.7709 14.0211 19.4028C12.5628 18.3709 11.077 17.3876 9.70126 16.2389C9.0409 15.684 9.03174 15.168 9.70126 14.5547C11.3008 13.0064 12.8696 11.4225 14.4063 9.80407C14.6081 9.58986 15.0667 9.11286 14.8099 8.83053C14.5531 8.54824 14.0211 8.94735 13.7643 9.13235C11.6182 10.651 9.45363 12.1599 7.34412 13.7176C6.99246 13.999 6.58102 14.1844 6.14601 14.2573C5.71099 14.3303 5.26574 14.2887 4.84945 14.1361C3.84054 13.8149 2.84084 13.4644 1.8503 13.114C1.44673 12.9777 0.382796 12.5201 2.35473 11.6634C7.38999 9.44384 12.5262 7.21453 17.5797 5.00465C18.8088 4.50817 19.3224 4.94624 19.1756 6.01712Z" fill="currentColor"/></svg>`,
  },
  {
    href: "#",
    label: "Instagram",
    icon: `<svg xmlns="http://w3.org" width="24" height="24" viewBox="0 0 24 24" fill="none"><g clip-path="url(#clip0_instagram)"><path d="M12 15.375C13.864 15.375 15.375 13.864 15.375 12C15.375 10.136 13.864 8.625 12 8.625C10.136 8.625 8.625 10.136 8.625 12C8.625 13.864 10.136 15.375 12 15.375Z" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M16.5 3H7.5C5.01472 3 3 5.01472 3 7.5V16.5C3 18.9853 5.01472 21 7.5 21H16.5C18.9853 21 21 18.9853 21 16.5V7.5C21 5.01472 18.9853 3 16.5 3Z" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M16.875 8.625C17.7034 8.625 18.375 7.95343 18.375 7.125C18.375 6.29657 17.7034 5.625 16.875 5.625C16.0466 5.625 15.375 6.29657 15.375 7.125C15.375 7.95343 16.0466 8.625 16.875 8.625Z" fill="currentColor"/></g><defs><clipPath id="clip0_instagram"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>`,
  },
  {
    href: "#",
    label: "Facebook",
    icon: `<svg xmlns="http://w3.org" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M13.4964 21V12.8027H16.458L16.8982 9.59326H13.4964V7.54894C13.4964 6.6228 13.7727 5.9887 15.1962 5.9887H17V3.12727C16.1224 3.03875 15.2402 2.99634 14.3575 3.00025C11.7397 3.00025 9.94237 4.49248 9.94237 7.23189V9.58726H7V12.7967H9.9488V21H13.4964Z" fill="currentColor"/></svg>`,
  },
  {
    href: "#",
    label: "YouTube",
    icon: `<svg xmlns="http://w3.org" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M9.8 15.4286L15.509 12L9.8 8.57143V15.4286ZM22.516 6.48C22.659 7.01714 22.758 7.73714 22.824 8.65143C22.901 9.56571 22.934 10.3543 22.934 11.04L23 12C23 14.5029 22.824 16.3429 22.516 17.52C22.241 18.5486 21.603 19.2114 20.613 19.4971C20.096 19.6457 19.15 19.7486 17.698 19.8171C16.268 19.8971 14.959 19.9314 13.749 19.9314L12 20C7.391 20 4.52 19.8171 3.387 19.4971C2.397 19.2114 1.759 18.5486 1.484 17.52C1.341 16.9829 1.242 16.2629 1.176 15.3486C1.099 14.4343 1.066 13.6457 1.066 12.96L1 12C1 9.49714 1.176 7.65714 1.484 6.48C1.759 5.45143 2.397 4.78857 3.387 4.50286C3.904 4.35429 4.85 4.25143 6.302 4.18286C7.732 4.10286 9.041 4.06857 10.251 4.06857L12 4C16.609 4 19.48 4.18286 20.613 4.50286C21.603 4.78857 22.241 5.45143 22.516 6.48Z" fill="currentColor"/></svg>`,
  },
];

const groupBrands = [
  {
    link: "https://checkbox.ua/",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="128" height="24" viewBox="0 0 128 24" fill="none">
  <g opacity="0.64">
    <path d="M36.0407 19.0198C35.2377 19.0198 34.5051 18.8859 33.843 18.6183C33.1808 18.3365 32.6103 17.9561 32.1313 17.4771C31.6664 16.9981 31.3001 16.4275 31.0324 15.7654C30.7647 15.0892 30.6309 14.3636 30.6309 13.5888V12.9971C30.6309 12.2222 30.7647 11.5037 31.0324 10.8416C31.3142 10.1795 31.6875 9.61594 32.1524 9.15103C32.6314 8.67203 33.1949 8.2987 33.843 8.03102C34.491 7.74926 35.1954 7.60838 35.9562 7.60838H36.1253C37.0973 7.60838 37.9708 7.8197 38.7457 8.24234C39.5346 8.6509 40.2038 9.24965 40.7532 10.0386L38.5343 11.6235C38.2103 11.0459 37.8651 10.6373 37.4989 10.3978C37.1466 10.1442 36.724 10.0174 36.2309 10.0174H36.1041C35.766 10.0174 35.4561 10.0879 35.1743 10.2288C34.9066 10.3697 34.6742 10.5739 34.4769 10.8416C34.2938 11.0952 34.1529 11.4122 34.0543 11.7926C33.9557 12.1729 33.9064 12.6167 33.9064 13.1239V13.5043C33.9064 13.9833 33.9557 14.4129 34.0543 14.7933C34.167 15.1737 34.322 15.4907 34.5192 15.7443C34.7305 15.9979 34.97 16.1951 35.2377 16.336C35.5195 16.4769 35.8365 16.5473 36.1887 16.5473H36.3788C36.8297 16.5473 37.2382 16.4205 37.6045 16.1669C37.9849 15.8992 38.323 15.4907 38.6189 14.9412L40.8166 16.6318C40.2672 17.4208 39.6121 18.0195 38.8513 18.4281C38.0906 18.8225 37.2171 19.0198 36.2309 19.0198H36.0407Z" fill="white"/>
    <path d="M42.5803 18.8084V3.59326H45.729V9.0665C46.1939 8.60159 46.7293 8.24234 47.3351 7.98876C47.9549 7.72108 48.6171 7.58725 49.3215 7.58725C50.519 7.58725 51.4418 7.95354 52.0898 8.68612C52.7379 9.4187 53.0619 10.4471 53.0619 11.7714V18.8084H49.9132V12.4477C49.9132 11.6869 49.7582 11.1304 49.4483 10.7782C49.1524 10.4119 48.6875 10.2288 48.0536 10.2288C47.6873 10.2288 47.3562 10.2851 47.0603 10.3978C46.7786 10.5105 46.532 10.6796 46.3207 10.905C46.1235 11.1163 45.9756 11.384 45.8769 11.708C45.7783 12.018 45.729 12.3702 45.729 12.7646V18.8084H42.5803Z" fill="white"/>
    <path d="M60.5909 19.0409C59.7597 19.0409 59.006 18.9141 58.3298 18.6605C57.6535 18.3928 57.0689 18.0195 56.5758 17.5405C56.0968 17.0474 55.7234 16.4698 55.4558 15.8077C55.1881 15.1314 55.0543 14.3777 55.0543 13.5465V13.145C55.0543 12.3279 55.1881 11.5812 55.4558 10.905C55.7234 10.2147 56.0897 9.63002 56.5546 9.15103C57.0336 8.65794 57.6042 8.27756 58.2663 8.00989C58.9426 7.74222 59.6752 7.60838 60.4641 7.60838H60.7388C61.4714 7.60838 62.1476 7.73517 62.7675 7.98876C63.3874 8.22826 63.9157 8.57342 64.3524 9.02424C64.8032 9.46097 65.1484 9.98927 65.3879 10.6091C65.6415 11.2149 65.7683 11.8841 65.7683 12.6167V14.1805H58.1184C58.1607 14.5468 58.2523 14.8779 58.3931 15.1737C58.534 15.4555 58.7172 15.702 58.9426 15.9133C59.1821 16.1106 59.4568 16.2655 59.7667 16.3782C60.0767 16.4769 60.4218 16.5262 60.8022 16.5262H60.9924C61.6123 16.5262 62.1617 16.3994 62.6407 16.1458C63.1197 15.8922 63.5283 15.5823 63.8664 15.216L65.4302 17.1813C65.1625 17.4489 64.8526 17.7025 64.5004 17.942C64.1622 18.1674 63.7959 18.3647 63.4015 18.5337C63.0211 18.6887 62.6196 18.8084 62.1969 18.893C61.7743 18.9916 61.3517 19.0409 60.929 19.0409H60.5909ZM58.203 12.2575H62.7886V12.1941C62.7746 11.8278 62.7112 11.5037 62.5985 11.222C62.4998 10.9402 62.359 10.7007 62.1758 10.5035C61.9927 10.3063 61.7743 10.1583 61.5207 10.0597C61.2671 9.9611 60.9924 9.91179 60.6966 9.91179H60.4852C60.1894 9.91179 59.9076 9.96814 59.6399 10.0808C59.3864 10.1795 59.1609 10.3344 58.9637 10.5458C58.7806 10.743 58.6186 10.9895 58.4777 11.2854C58.3509 11.5671 58.2593 11.8912 58.203 12.2575Z" fill="white"/>
    <path d="M72.7274 19.0198C71.9243 19.0198 71.1918 18.8859 70.5296 18.6183C69.8675 18.3365 69.2969 17.9561 68.8179 17.4771C68.353 16.9981 67.9867 16.4275 67.719 15.7654C67.4514 15.0892 67.3175 14.3636 67.3175 13.5888V12.9971C67.3175 12.2222 67.4514 11.5037 67.719 10.8416C68.0008 10.1795 68.3741 9.61594 68.8391 9.15103C69.318 8.67203 69.8816 8.2987 70.5296 8.03102C71.1777 7.74926 71.8821 7.60838 72.6428 7.60838H72.8119C73.784 7.60838 74.6574 7.8197 75.4323 8.24234C76.2212 8.6509 76.8904 9.24965 77.4399 10.0386L75.221 11.6235C74.8969 11.0459 74.5518 10.6373 74.1855 10.3978C73.8333 10.1442 73.4107 10.0174 72.9176 10.0174H72.7908C72.4527 10.0174 72.1427 10.0879 71.861 10.2288C71.5933 10.3697 71.3608 10.5739 71.1636 10.8416C70.9804 11.0952 70.8396 11.4122 70.7409 11.7926C70.6423 12.1729 70.593 12.6167 70.593 13.1239V13.5043C70.593 13.9833 70.6423 14.4129 70.7409 14.7933C70.8536 15.1737 71.0086 15.4907 71.2059 15.7443C71.4172 15.9979 71.6567 16.1951 71.9244 16.336C72.2061 16.4769 72.5231 16.5473 72.8753 16.5473H73.0655C73.5163 16.5473 73.9249 16.4205 74.2912 16.1669C74.6715 15.8992 75.0097 15.4907 75.3055 14.9412L77.5033 16.6318C76.9538 17.4208 76.2987 18.0195 75.538 18.4281C74.7772 18.8225 73.9037 19.0198 72.9176 19.0198H72.7274Z" fill="white"/>
    <path d="M79.267 18.8084V3.59326H82.4157V12.342H82.6059L86.2195 7.8197H89.664L85.3108 12.8703L89.7063 18.8084H86.0504L82.627 13.7156H82.4157V18.8084H79.267Z" fill="white"/>
    <path d="M97.6198 19.0409C96.9013 19.0409 96.2462 18.9141 95.6545 18.6605C95.0769 18.4069 94.5767 18.0477 94.1541 17.5828C94.1259 17.7941 94.0837 18.0125 94.0273 18.2379C93.985 18.4633 93.9357 18.6535 93.8794 18.8084H91.3858V3.59326H94.5345V8.70725C94.929 8.34096 95.3868 8.06624 95.9081 7.8831C96.4293 7.68586 96.9999 7.58725 97.6198 7.58725H97.7888C98.5073 7.58725 99.1624 7.72108 99.7541 7.98876C100.36 8.24234 100.874 8.60864 101.297 9.08763C101.719 9.56663 102.043 10.1372 102.269 10.7993C102.508 11.4474 102.628 12.18 102.628 12.9971V13.6311C102.628 14.4341 102.508 15.1667 102.269 15.8288C102.043 16.4909 101.719 17.0615 101.297 17.5405C100.874 18.0195 100.36 18.3928 99.7541 18.6605C99.1624 18.9141 98.5073 19.0409 97.7888 19.0409H97.6198ZM96.8379 16.6952H97.0492C97.3873 16.6952 97.6973 16.6177 97.979 16.4628C98.2749 16.3078 98.5214 16.0965 98.7187 15.8288C98.93 15.547 99.092 15.2089 99.2047 14.8145C99.3174 14.42 99.3737 13.9833 99.3737 13.5043V13.0182C99.3737 12.5533 99.3174 12.1307 99.2047 11.7503C99.092 11.3558 98.93 11.0318 98.7187 10.7782C98.5214 10.5105 98.2749 10.3063 97.979 10.1654C97.6973 10.0104 97.3873 9.93292 97.0492 9.93292H96.8379C96.4998 9.93292 96.1828 10.0104 95.8869 10.1654C95.6052 10.3063 95.3586 10.5105 95.1473 10.7782C94.9501 11.0318 94.7951 11.3558 94.6824 11.7503C94.5697 12.1307 94.5133 12.5533 94.5133 13.0182V13.5043C94.5133 13.9833 94.5697 14.42 94.6824 14.8145C94.7951 15.2089 94.9501 15.547 95.1473 15.8288C95.3586 16.0965 95.6052 16.3078 95.8869 16.4628C96.1687 16.6177 96.4857 16.6952 96.8379 16.6952Z" fill="white"/>
    <path d="M109.686 19.0409C108.869 19.0409 108.115 18.9071 107.425 18.6394C106.749 18.3717 106.164 18.0054 105.671 17.5405C105.178 17.0615 104.791 16.4909 104.509 15.8288C104.241 15.1667 104.107 14.4341 104.107 13.6311V12.9971C104.107 12.1941 104.241 11.4615 104.509 10.7993C104.791 10.1372 105.178 9.57367 105.671 9.10876C106.164 8.62977 106.749 8.25643 107.425 7.98876C108.115 7.72108 108.869 7.58725 109.686 7.58725H109.898C110.729 7.58725 111.482 7.72108 112.159 7.98876C112.849 8.25643 113.441 8.62977 113.934 9.10876C114.427 9.57367 114.807 10.1372 115.075 10.7993C115.343 11.4615 115.476 12.1941 115.476 12.9971V13.6311C115.476 14.4341 115.343 15.1667 115.075 15.8288C114.807 16.4909 114.427 17.0615 113.934 17.5405C113.441 18.0054 112.849 18.3717 112.159 18.6394C111.482 18.9071 110.729 19.0409 109.898 19.0409H109.686ZM109.707 16.6952H109.898C110.25 16.6952 110.567 16.6177 110.849 16.4628C111.144 16.3078 111.391 16.0965 111.588 15.8288C111.799 15.547 111.954 15.2089 112.053 14.8145C112.166 14.42 112.222 13.9833 112.222 13.5043V13.0182C112.222 12.5392 112.166 12.1095 112.053 11.7292C111.954 11.3488 111.799 11.0318 111.588 10.7782C111.377 10.5105 111.13 10.3063 110.849 10.1654C110.567 10.0104 110.25 9.93292 109.898 9.93292H109.707C109.355 9.93292 109.031 10.0104 108.735 10.1654C108.454 10.3063 108.214 10.5105 108.017 10.7782C107.82 11.0318 107.665 11.3488 107.552 11.7292C107.439 12.1095 107.383 12.5392 107.383 13.0182V13.5043C107.383 13.9833 107.432 14.42 107.531 14.8145C107.643 15.2089 107.798 15.547 107.996 15.8288C108.207 16.0965 108.454 16.3078 108.735 16.4628C109.031 16.6177 109.355 16.6952 109.707 16.6952Z" fill="white"/>
    <path d="M115.968 18.8084L119.539 13.145V13.0605L116.116 7.8197H119.602L121.589 11.3488H121.694L123.639 7.8197H127.041L123.639 13.0605V13.145L127.189 18.8084H123.723L121.61 14.9201H121.483L119.37 18.8084H115.968Z" fill="white"/>
    <path d="M0 6.5244C0 2.92107 2.92107 0 6.5244 0H17.4756C21.0789 0 24 2.92107 24 6.5244V17.4756C24 21.0789 21.0789 24 17.4756 24H6.5244C2.92107 24 0 21.0789 0 17.4756V6.5244Z" fill="white"/>
    <path d="M18 6V18H6V6H18ZM16.0783 16.0783V7.92171H7.92171V16.0783H16.0783ZM14.7654 9.2352V15.0003L9.03268 9.2352H14.7654Z" fill="black"/>
  </g>
</svg>`,
  },
  {
    link: "https://posbox.ai/",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="104" height="24" viewBox="0 0 104 24" fill="none">
  <g opacity="0.64">
    <path d="M31.1612 22.2261V7.01095H33.6548C33.7111 7.16592 33.7604 7.35611 33.8027 7.58152C33.859 7.80693 33.9013 8.02529 33.9295 8.23662C34.3521 7.7858 34.8523 7.43359 35.4299 7.18001C36.0216 6.91233 36.6767 6.77849 37.3952 6.77849H37.5642C38.2827 6.77849 38.9378 6.91233 39.5295 7.18001C40.1353 7.43359 40.6495 7.79988 41.0722 8.27888C41.4948 8.75788 41.8188 9.32844 42.0442 9.99059C42.2837 10.6386 42.4035 11.3712 42.4035 12.1883V12.8223C42.4035 13.6253 42.2837 14.3579 42.0442 15.0201C41.8188 15.6822 41.4948 16.2528 41.0722 16.7318C40.6495 17.2108 40.1353 17.5841 39.5295 17.8518C38.9378 18.1053 38.2827 18.2321 37.5642 18.2321H37.3952C36.7753 18.2321 36.2047 18.1406 35.6835 17.9574C35.1622 17.7602 34.7043 17.4784 34.3099 17.1121V22.2261H31.1612ZM36.6133 15.8865H36.8246C37.1627 15.8865 37.4726 15.809 37.7544 15.654C38.0503 15.499 38.2968 15.2877 38.494 15.0201C38.7054 14.7383 38.8674 14.4002 38.9801 14.0057C39.0928 13.6112 39.1491 13.1745 39.1491 12.6955V12.2095C39.1491 11.7446 39.0928 11.3219 38.9801 10.9415C38.8674 10.5471 38.7054 10.223 38.494 9.96945C38.2968 9.70178 38.0503 9.4975 37.7544 9.35662C37.4726 9.20165 37.1627 9.12417 36.8246 9.12417H36.6133C36.2611 9.12417 35.9441 9.20165 35.6623 9.35662C35.3806 9.4975 35.134 9.70178 34.9227 9.96945C34.7255 10.2371 34.5705 10.5612 34.4578 10.9415C34.3451 11.3219 34.2887 11.7446 34.2887 12.2095V12.6955C34.2887 13.1745 34.3451 13.6112 34.4578 14.0057C34.5705 14.4002 34.7255 14.7383 34.9227 15.0201C35.134 15.2877 35.3806 15.499 35.6623 15.654C35.9582 15.809 36.2752 15.8865 36.6133 15.8865Z" fill="white"/>
    <path d="M49.4616 18.2321C48.6445 18.2321 47.8908 18.0983 47.2005 17.8306C46.5243 17.563 45.9396 17.1967 45.4465 16.7318C44.9534 16.2528 44.566 15.6822 44.2843 15.0201C44.0166 14.3579 43.8827 13.6253 43.8827 12.8223V12.1883C43.8827 11.3853 44.0166 10.6527 44.2843 9.99059C44.566 9.32844 44.9534 8.76492 45.4465 8.30001C45.9396 7.82102 46.5243 7.44768 47.2005 7.18001C47.8908 6.91233 48.6445 6.77849 49.4616 6.77849H49.673C50.5042 6.77849 51.2579 6.91233 51.9341 7.18001C52.6244 7.44768 53.2161 7.82102 53.7092 8.30001C54.2023 8.76492 54.5827 9.32844 54.8504 9.99059C55.118 10.6527 55.2519 11.3853 55.2519 12.1883V12.8223C55.2519 13.6253 55.118 14.3579 54.8504 15.0201C54.5827 15.6822 54.2023 16.2528 53.7092 16.7318C53.2161 17.1967 52.6244 17.563 51.9341 17.8306C51.2579 18.0983 50.5042 18.2321 49.673 18.2321H49.4616ZM49.4828 15.8865H49.673C50.0252 15.8865 50.3422 15.809 50.6239 15.654C50.9198 15.499 51.1663 15.2877 51.3635 15.0201C51.5749 14.7383 51.7298 14.4002 51.8284 14.0057C51.9412 13.6112 51.9975 13.1745 51.9975 12.6955V12.2095C51.9975 11.7305 51.9412 11.3008 51.8284 10.9204C51.7298 10.54 51.5749 10.223 51.3635 9.96945C51.1522 9.70178 50.9057 9.4975 50.6239 9.35662C50.3422 9.20165 50.0252 9.12417 49.673 9.12417H49.4828C49.1306 9.12417 48.8065 9.20165 48.5107 9.35662C48.2289 9.4975 47.9894 9.70178 47.7922 9.96945C47.595 10.223 47.44 10.54 47.3273 10.9204C47.2146 11.3008 47.1582 11.7305 47.1582 12.2095V12.6955C47.1582 13.1745 47.2075 13.6112 47.3062 14.0057C47.4189 14.4002 47.5738 14.7383 47.7711 15.0201C47.9824 15.2877 48.2289 15.499 48.5107 15.654C48.8065 15.809 49.1306 15.8865 49.4828 15.8865Z" fill="white"/>
    <path d="M61.4831 18.2533C60.4828 18.2533 59.553 18.1194 58.6936 17.8518C57.8342 17.5841 57.0453 17.2037 56.3268 16.7106L57.806 14.4495C58.0315 14.6467 58.285 14.8299 58.5668 14.9989C58.8486 15.1539 59.1444 15.2877 59.4544 15.4004C59.7643 15.5131 60.0813 15.6047 60.4053 15.6751C60.7293 15.7315 61.0463 15.7597 61.3563 15.7597C61.5958 15.7597 61.8 15.7385 61.9691 15.6963C62.1522 15.654 62.3002 15.5977 62.4129 15.5272C62.5397 15.4427 62.6312 15.337 62.6876 15.2102C62.758 15.0834 62.7932 14.9426 62.7932 14.7876C62.7932 14.5481 62.7228 14.365 62.5819 14.2382C62.441 14.1114 62.2297 14.0057 61.948 13.9212C61.6662 13.8226 61.314 13.7239 60.8913 13.6253C60.4828 13.5126 59.9897 13.3506 59.4121 13.1393C59.0881 13.0407 58.764 12.9139 58.44 12.7589C58.116 12.6039 57.8272 12.4137 57.5736 12.1883C57.32 11.9629 57.1157 11.6882 56.9608 11.3642C56.8058 11.0261 56.7283 10.6246 56.7283 10.1596C56.7283 9.63838 56.8269 9.17348 57.0242 8.76492C57.2214 8.34228 57.4961 7.98303 57.8483 7.68718C58.2005 7.39133 58.6302 7.16592 59.1374 7.01095C59.6586 6.84189 60.2363 6.75736 60.8702 6.75736C61.6732 6.75736 62.4481 6.88415 63.1948 7.13774C63.9555 7.37724 64.6458 7.7224 65.2657 8.17322L63.7865 10.3076C63.3779 9.98354 62.906 9.72291 62.3706 9.52568C61.8353 9.32844 61.2999 9.22983 60.7646 9.22983C60.5673 9.22983 60.3912 9.25096 60.2363 9.29322C60.0813 9.3214 59.9474 9.37071 59.8347 9.44115C59.7361 9.51159 59.6586 9.60316 59.6023 9.71587C59.56 9.82857 59.5389 9.95537 59.5389 10.0962C59.5389 10.3076 59.6023 10.4766 59.7291 10.6034C59.87 10.7302 60.0531 10.8429 60.2785 10.9415C60.5039 11.0402 60.7646 11.1247 61.0604 11.1951C61.3703 11.2515 61.6873 11.3219 62.0114 11.4064C62.4481 11.5191 62.8848 11.653 63.3216 11.808C63.7724 11.9488 64.1739 12.1461 64.5261 12.3997C64.8783 12.6532 65.1671 12.9702 65.3925 13.3506C65.632 13.731 65.7518 14.217 65.7518 14.8087C65.7518 15.33 65.6461 15.8019 65.4348 16.2246C65.2375 16.6472 64.9487 17.0065 64.5684 17.3023C64.2021 17.5982 63.7583 17.8306 63.237 17.9997C62.7158 18.1687 62.1311 18.2533 61.4831 18.2533Z" fill="white"/>
    <path d="M73.9786 18.2321C73.2601 18.2321 72.605 18.1053 72.0133 17.8518C71.4357 17.5982 70.9356 17.2389 70.5129 16.774C70.4848 16.9853 70.4425 17.2037 70.3861 17.4291C70.3439 17.6545 70.2946 17.8447 70.2382 17.9997H67.7446V2.78451H70.8933V7.8985C71.2878 7.53221 71.7457 7.25749 72.2669 7.07434C72.7882 6.87711 73.3587 6.77849 73.9786 6.77849H74.1477C74.8662 6.77849 75.5213 6.91233 76.113 7.18001C76.7188 7.43359 77.233 7.79988 77.6556 8.27888C78.0783 8.75788 78.4023 9.32844 78.6277 9.99059C78.8672 10.6386 78.987 11.3712 78.987 12.1883V12.8223C78.987 13.6253 78.8672 14.3579 78.6277 15.0201C78.4023 15.6822 78.0783 16.2528 77.6556 16.7318C77.233 17.2108 76.7188 17.5841 76.113 17.8518C75.5213 18.1053 74.8662 18.2321 74.1477 18.2321H73.9786ZM73.1967 15.8865H73.4081C73.7462 15.8865 74.0561 15.809 74.3379 15.654C74.6337 15.499 74.8803 15.2877 75.0775 15.0201C75.2888 14.7383 75.4508 14.4002 75.5635 14.0057C75.6762 13.6112 75.7326 13.1745 75.7326 12.6955V12.2095C75.7326 11.7446 75.6762 11.3219 75.5635 10.9415C75.4508 10.5471 75.2888 10.223 75.0775 9.96945C74.8803 9.70178 74.6337 9.4975 74.3379 9.35662C74.0561 9.20165 73.7462 9.12417 73.4081 9.12417H73.1967C72.8586 9.12417 72.5416 9.20165 72.2458 9.35662C71.964 9.4975 71.7175 9.70178 71.5061 9.96945C71.3089 10.223 71.1539 10.5471 71.0412 10.9415C70.9285 11.3219 70.8722 11.7446 70.8722 12.2095V12.6955C70.8722 13.1745 70.9285 13.6112 71.0412 14.0057C71.1539 14.4002 71.3089 14.7383 71.5061 15.0201C71.7175 15.2877 71.964 15.499 72.2458 15.654C72.5275 15.809 72.8445 15.8865 73.1967 15.8865Z" fill="white"/>
    <path d="M86.0451 18.2321C85.228 18.2321 84.4743 18.0983 83.784 17.8306C83.1077 17.563 82.5231 17.1967 82.03 16.7318C81.5369 16.2528 81.1495 15.6822 80.8677 15.0201C80.6 14.3579 80.4662 13.6253 80.4662 12.8223V12.1883C80.4662 11.3853 80.6 10.6527 80.8677 9.99059C81.1495 9.32844 81.5369 8.76492 82.03 8.30001C82.5231 7.82102 83.1077 7.44768 83.784 7.18001C84.4743 6.91233 85.228 6.77849 86.0451 6.77849H86.2564C87.0876 6.77849 87.8413 6.91233 88.5176 7.18001C89.2079 7.44768 89.7996 7.82102 90.2927 8.30001C90.7858 8.76492 91.1661 9.32844 91.4338 9.99059C91.7015 10.6527 91.8353 11.3853 91.8353 12.1883V12.8223C91.8353 13.6253 91.7015 14.3579 91.4338 15.0201C91.1661 15.6822 90.7858 16.2528 90.2927 16.7318C89.7996 17.1967 89.2079 17.563 88.5176 17.8306C87.8413 18.0983 87.0876 18.2321 86.2564 18.2321H86.0451ZM86.0662 15.8865H86.2564C86.6086 15.8865 86.9256 15.809 87.2074 15.654C87.5032 15.499 87.7498 15.2877 87.947 15.0201C88.1583 14.7383 88.3133 14.4002 88.4119 14.0057C88.5246 13.6112 88.581 13.1745 88.581 12.6955V12.2095C88.581 11.7305 88.5246 11.3008 88.4119 10.9204C88.3133 10.54 88.1583 10.223 87.947 9.96945C87.7357 9.70178 87.4891 9.4975 87.2074 9.35662C86.9256 9.20165 86.6086 9.12417 86.2564 9.12417H86.0662C85.714 9.12417 85.39 9.20165 85.0942 9.35662C84.8124 9.4975 84.5729 9.70178 84.3757 9.96945C84.1784 10.223 84.0235 10.54 83.9108 10.9204C83.798 11.3008 83.7417 11.7305 83.7417 12.2095V12.6955C83.7417 13.1745 83.791 13.6112 83.8896 14.0057C84.0023 14.4002 84.1573 14.7383 84.3545 15.0201C84.5658 15.2877 84.8124 15.499 85.0942 15.654C85.39 15.809 85.714 15.8865 86.0662 15.8865Z" fill="white"/>
    <path d="M92.3265 17.9997L95.8978 12.3363V12.2517L92.4744 7.01095H95.9612L97.9476 10.54H98.0533L99.9975 7.01095H103.4L99.9975 12.2517V12.3363L103.548 17.9997H100.082L97.9688 14.1114H97.842L95.7288 17.9997H92.3265Z" fill="white"/>
    <path d="M0 6.5244C0 2.92107 2.92107 0 6.5244 0H17.4756C21.0789 0 24 2.92107 24 6.5244V17.4756C24 21.0789 21.0789 24 17.4756 24H6.5244C2.92107 24 0 21.0789 0 17.4756V6.5244Z" fill="white"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3775 6C13.7739 6 14.4725 6.00001 15.0865 6.23926C15.4191 6.3689 15.7299 6.54895 16.0083 6.77246C16.5223 7.18513 16.8715 7.7911 17.5699 9.00195C18.2675 10.2117 18.6163 10.8166 18.7163 11.4678C18.7705 11.8208 18.7705 12.1802 18.7163 12.5332C18.6165 13.1844 18.2673 13.79 17.5689 15.001C16.8706 16.2118 16.5216 16.8174 16.0083 17.2295C15.73 17.4529 15.419 17.6332 15.0865 17.7627C14.4732 18.0015 13.7748 18.001 12.3794 18.001C10.9834 18.001 10.2852 18.0008 9.67142 17.7617C9.3386 17.632 9.02718 17.4522 8.74857 17.2285C8.23464 16.8159 7.88528 16.2107 7.18705 15C6.48928 13.7901 6.14054 13.1845 6.04056 12.5332C5.98644 12.1804 5.98651 11.8215 6.04056 11.4688C6.14039 10.8176 6.48963 10.2119 7.18802 9.00098C7.88647 7.78992 8.23516 7.18362 8.74857 6.77148C9.02687 6.54809 9.33797 6.36878 9.67045 6.23926C10.2838 6.00035 10.982 6 12.3775 6ZM13.3589 7.00684L11.8091 7.01562C10.9821 7.02006 10.5685 7.02228 10.4136 7.29199C10.2588 7.56174 10.4655 7.91995 10.8785 8.63672L11.6597 9.99316C12.1164 10.7859 12.3447 11.1826 12.7212 11.4004C13.0979 11.6181 13.5561 11.6182 14.4712 11.6182H16.0396C16.8728 11.6182 17.2898 11.6182 17.4458 11.3477C17.6018 11.0771 17.3932 10.7162 16.9761 9.99512L16.1851 8.62695C15.7251 7.83163 15.4946 7.43398 15.1158 7.2168C14.737 6.99971 14.2775 7.00191 13.3589 7.00684Z" fill="black"/>
  </g>
</svg>`,
  },
  {
    link: "https://www.edibox.com.ua/",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="100" height="24" viewBox="0 0 100 24" fill="none">
  <g opacity="0.64">
    <path d="M36.2795 18.7066C35.4483 18.7066 34.6946 18.5798 34.0183 18.3262C33.3421 18.0586 32.7575 17.6852 32.2644 17.2062C31.7854 16.7132 31.412 16.1355 31.1444 15.4734C30.8767 14.7972 30.7429 14.0435 30.7429 13.2123V12.8107C30.7429 11.9936 30.8767 11.247 31.1444 10.5707C31.412 9.88041 31.7783 9.29575 32.2432 8.81676C32.7222 8.32367 33.2928 7.94329 33.955 7.67562C34.6312 7.40794 35.3638 7.27411 36.1527 7.27411H36.4274C37.16 7.27411 37.8362 7.4009 38.4561 7.65449C39.076 7.89398 39.6043 8.23914 40.041 8.68996C40.4918 9.1267 40.837 9.655 41.0765 10.2749C41.3301 10.8807 41.4569 11.5499 41.4569 12.2824V13.8462H33.807C33.8493 14.2125 33.9409 14.5436 34.0817 14.8394C34.2226 15.1212 34.4058 15.3677 34.6312 15.5791C34.8707 15.7763 35.1454 15.9313 35.4553 16.044C35.7653 16.1426 36.1104 16.1919 36.4908 16.1919H36.681C37.3009 16.1919 37.8503 16.0651 38.3293 15.8115C38.8083 15.5579 39.2169 15.248 39.555 14.8817L41.1188 16.847C40.8511 17.1147 40.5412 17.3683 40.1889 17.6077C39.8508 17.8332 39.4845 18.0304 39.0901 18.1995C38.7097 18.3544 38.3082 18.4742 37.8855 18.5587C37.4629 18.6573 37.0403 18.7066 36.6176 18.7066H36.2795ZM33.8916 11.9232H38.4772V11.8598C38.4632 11.4935 38.3998 11.1695 38.2871 10.8877C38.1884 10.6059 38.0476 10.3665 37.8644 10.1692C37.6813 9.97198 37.4629 9.82406 37.2093 9.72544C36.9557 9.62682 36.681 9.57752 36.3852 9.57752H36.1738C35.878 9.57752 35.5962 9.63387 35.3285 9.74657C35.075 9.84519 34.8495 10.0002 34.6523 10.2115C34.4692 10.4087 34.3072 10.6553 34.1663 10.9511C34.0395 11.2329 33.9479 11.5569 33.8916 11.9232Z" fill="white"/>
    <path d="M47.8665 18.7066C47.148 18.7066 46.4859 18.5798 45.8801 18.3262C45.2884 18.0586 44.7812 17.6852 44.3586 17.2062C43.9359 16.7272 43.6049 16.1567 43.3654 15.4945C43.1259 14.8324 43.0061 14.0998 43.0061 13.2968V12.6628C43.0061 11.8457 43.1259 11.1131 43.3654 10.4651C43.6049 9.80293 43.9359 9.23236 44.3586 8.75336C44.7812 8.27436 45.2884 7.90807 45.8801 7.65449C46.4859 7.38681 47.148 7.25297 47.8665 7.25297H48.0356C48.6555 7.25297 49.226 7.35159 49.7473 7.54883C50.2686 7.73197 50.7264 8.00669 51.1209 8.37298V3.25899H54.2696V18.4742H51.776C51.7196 18.3192 51.6633 18.129 51.6069 17.9036C51.5506 17.6782 51.5083 17.4598 51.4801 17.2485C51.0716 17.7134 50.5715 18.0727 49.9798 18.3262C49.3881 18.5798 48.74 18.7066 48.0356 18.7066H47.8665ZM48.6062 16.361H48.8175C49.1697 16.361 49.4867 16.2835 49.7684 16.1285C50.0502 15.9735 50.2967 15.7622 50.5081 15.4945C50.7194 15.2128 50.8744 14.8747 50.973 14.4802C51.0857 14.0857 51.142 13.649 51.142 13.17V12.6839C51.142 12.205 51.0857 11.7753 50.973 11.3949C50.8603 11.0145 50.6983 10.6975 50.4869 10.4439C50.2897 10.1763 50.0432 9.97198 49.7473 9.8311C49.4655 9.67613 49.1556 9.59865 48.8175 9.59865H48.6062C48.2681 9.59865 47.9511 9.67613 47.6552 9.8311C47.3735 9.97198 47.1269 10.1763 46.9156 10.4439C46.7184 10.6975 46.5634 11.0145 46.4507 11.3949C46.338 11.7753 46.2816 12.205 46.2816 12.6839V13.17C46.2816 13.649 46.338 14.0857 46.4507 14.4802C46.5634 14.8747 46.7184 15.2128 46.9156 15.4945C47.1269 15.7622 47.3735 15.9735 47.6552 16.1285C47.9511 16.2835 48.2681 16.361 48.6062 16.361Z" fill="white"/>
    <path d="M57.2669 18.4742V7.48543H60.4156V18.4742H57.2669ZM58.8095 6.00618C58.2883 6.00618 57.8586 5.85825 57.5205 5.5624C57.1965 5.26655 57.0344 4.87913 57.0344 4.40013C57.0344 3.92113 57.1965 3.53371 57.5205 3.23786C57.8586 2.92792 58.2883 2.77295 58.8095 2.77295C59.359 2.77295 59.8028 2.92792 60.1409 3.23786C60.479 3.53371 60.648 3.92113 60.648 4.40013C60.648 4.87913 60.479 5.26655 60.1409 5.5624C59.8028 5.85825 59.359 6.00618 58.8095 6.00618Z" fill="white"/>
    <path d="M69.6556 18.7066C68.9371 18.7066 68.282 18.5798 67.6903 18.3262C67.1127 18.0727 66.6126 17.7134 66.19 17.2485C66.1618 17.4598 66.1195 17.6782 66.0632 17.9036C66.0209 18.129 65.9716 18.3192 65.9152 18.4742H63.4216V3.25899H66.5703V8.37298C66.9648 8.00669 67.4227 7.73197 67.9439 7.54883C68.4652 7.35159 69.0358 7.25297 69.6556 7.25297H69.8247C70.5432 7.25297 71.1983 7.38681 71.79 7.65449C72.3958 7.90807 72.91 8.27436 73.3326 8.75336C73.7553 9.23236 74.0793 9.80293 74.3047 10.4651C74.5442 11.1131 74.664 11.8457 74.664 12.6628V13.2968C74.664 14.0998 74.5442 14.8324 74.3047 15.4945C74.0793 16.1567 73.7553 16.7272 73.3326 17.2062C72.91 17.6852 72.3958 18.0586 71.79 18.3262C71.1983 18.5798 70.5432 18.7066 69.8247 18.7066H69.6556ZM68.8737 16.361H69.0851C69.4232 16.361 69.7331 16.2835 70.0149 16.1285C70.3107 15.9735 70.5573 15.7622 70.7545 15.4945C70.9658 15.2128 71.1278 14.8747 71.2406 14.4802C71.3533 14.0857 71.4096 13.649 71.4096 13.17V12.6839C71.4096 12.219 71.3533 11.7964 71.2406 11.416C71.1278 11.0215 70.9658 10.6975 70.7545 10.4439C70.5573 10.1763 70.3107 9.97198 70.0149 9.8311C69.7331 9.67613 69.4232 9.59865 69.0851 9.59865H68.8737C68.5356 9.59865 68.2187 9.67613 67.9228 9.8311C67.641 9.97198 67.3945 10.1763 67.1832 10.4439C66.9859 10.6975 66.831 11.0215 66.7183 11.416C66.6056 11.7964 66.5492 12.219 66.5492 12.6839V13.17C66.5492 13.649 66.6056 14.0857 66.7183 14.4802C66.831 14.8747 66.9859 15.2128 67.1832 15.4945C67.3945 15.7622 67.641 15.9735 67.9228 16.1285C68.2046 16.2835 68.5215 16.361 68.8737 16.361Z" fill="white"/>
    <path d="M81.7221 18.7066C80.905 18.7066 80.1513 18.5728 79.461 18.3051C78.7848 18.0374 78.2001 17.6711 77.707 17.2062C77.2139 16.7272 76.8265 16.1567 76.5447 15.4945C76.2771 14.8324 76.1432 14.0998 76.1432 13.2968V12.6628C76.1432 11.8598 76.2771 11.1272 76.5447 10.4651C76.8265 9.80293 77.2139 9.2394 77.707 8.77449C78.2001 8.2955 78.7848 7.92216 79.461 7.65449C80.1513 7.38681 80.905 7.25297 81.7221 7.25297H81.9334C82.7646 7.25297 83.5184 7.38681 84.1946 7.65449C84.8849 7.92216 85.4766 8.2955 85.9697 8.77449C86.4628 9.2394 86.8432 9.80293 87.1108 10.4651C87.3785 11.1272 87.5123 11.8598 87.5123 12.6628V13.2968C87.5123 14.0998 87.3785 14.8324 87.1108 15.4945C86.8432 16.1567 86.4628 16.7272 85.9697 17.2062C85.4766 17.6711 84.8849 18.0374 84.1946 18.3051C83.5184 18.5728 82.7646 18.7066 81.9334 18.7066H81.7221ZM81.7433 16.361H81.9334C82.2857 16.361 82.6026 16.2835 82.8844 16.1285C83.1803 15.9735 83.4268 15.7622 83.624 15.4945C83.8353 15.2128 83.9903 14.8747 84.0889 14.4802C84.2016 14.0857 84.258 13.649 84.258 13.17V12.6839C84.258 12.205 84.2016 11.7753 84.0889 11.3949C83.9903 11.0145 83.8353 10.6975 83.624 10.4439C83.4127 10.1763 83.1662 9.97198 82.8844 9.8311C82.6026 9.67613 82.2857 9.59865 81.9334 9.59865H81.7433C81.3911 9.59865 81.067 9.67613 80.7712 9.8311C80.4894 9.97198 80.2499 10.1763 80.0527 10.4439C79.8554 10.6975 79.7005 11.0145 79.5878 11.3949C79.4751 11.7753 79.4187 12.205 79.4187 12.6839V13.17C79.4187 13.649 79.468 14.0857 79.5666 14.4802C79.6793 14.8747 79.8343 15.2128 80.0315 15.4945C80.2429 15.7622 80.4894 15.9735 80.7712 16.1285C81.067 16.2835 81.3911 16.361 81.7433 16.361Z" fill="white"/>
    <path d="M88.0035 18.4742L91.5748 12.8107V12.7262L88.1514 7.48543H91.6382L93.6247 11.0145H93.7303L95.6745 7.48543H99.0768L95.6745 12.7262V12.8107L99.2247 18.4742H95.759L93.6458 14.5858H93.519L91.4058 18.4742H88.0035Z" fill="white"/>
    <path d="M0 6.5244C0 2.92107 2.92107 0 6.5244 0H17.4756C21.0789 0 24 2.92107 24 6.5244V17.4756C24 21.0789 21.0789 24 17.4756 24H6.5244C2.92107 24 0 21.0789 0 17.4756V6.5244Z" fill="white"/>
    <path d="M14.5243 18.3099C14.1496 18.3099 13.7438 18.2441 13.3067 18.1125C12.8765 17.9809 12.4741 17.7662 12.0994 17.4685C11.7317 17.1776 11.423 16.7932 11.1732 16.3154C10.9235 15.8444 10.7986 15.2696 10.7986 14.591V10.163C10.7986 9.91774 10.9974 9.71894 11.2426 9.71894H12.9251C13.1703 9.71894 13.3691 9.91774 13.3691 10.163V14.591C13.3691 14.958 13.4801 15.2419 13.7021 15.4428C13.9311 15.6436 14.2121 15.744 14.5451 15.744C14.8989 15.744 15.1765 15.6298 15.3777 15.4012C15.5789 15.1796 15.6795 14.9095 15.6795 14.591V9.71894C15.6795 9.35189 15.565 9.06795 15.336 8.86711C15.114 8.66628 14.8365 8.56586 14.5035 8.56586H10.7257C10.3649 8.56586 10.084 8.67666 9.88275 8.89828C9.68155 9.12681 9.58094 9.40729 9.58094 9.73971V14.1469C9.58094 14.3921 9.38214 14.591 9.13689 14.591H7.44405C7.19881 14.591 7 14.3921 7 14.1469V9.71894C7 9.34496 7.06591 8.93983 7.19773 8.50353C7.32956 8.07415 7.54117 7.67248 7.83256 7.29851C8.1309 6.93147 8.51596 6.62329 8.98774 6.37397C9.46647 6.12466 10.0458 6 10.7257 6L14.5243 6C14.8989 6 15.3013 6.06579 15.7315 6.19737C16.1686 6.32896 16.571 6.54018 16.9387 6.83105C17.3134 7.12884 17.6256 7.5132 17.8753 7.98413C18.1251 8.46198 18.25 9.04025 18.25 9.71894V14.591C18.25 14.9649 18.1841 15.3666 18.0523 15.796C17.9204 16.2323 17.7054 16.6339 17.407 17.001C17.1156 17.375 16.7306 17.6866 16.2519 17.9359C15.7801 18.1852 15.2042 18.3099 14.5243 18.3099Z" fill="black"/>
  </g>
</svg>`,
  },
  {
    link: "https://www.taxbox.com.ua/",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="100" height="24" viewBox="0 0 100 24" fill="none">
  <g opacity="0.64">
    <path d="M34.7252 19.8895C34.2321 19.8895 33.7812 19.819 33.3727 19.6782C32.9641 19.5373 32.6119 19.3189 32.3161 19.0231C32.0202 18.7272 31.7948 18.3539 31.6399 17.903C31.4849 17.4522 31.4074 16.9169 31.4074 16.297V11.183H29.9493V9.09092C30.1606 9.02048 30.3931 8.95708 30.6466 8.90073C30.9143 8.84438 31.1679 8.80211 31.4074 8.77394V6.21694L34.5138 5.83656V8.75281H37.4089V11.183H34.4927V15.7053C34.4927 16.2688 34.5984 16.6703 34.8097 16.9098C35.021 17.1352 35.3239 17.2479 35.7184 17.2479C35.8452 17.2479 35.986 17.2409 36.141 17.2268C36.296 17.1986 36.451 17.1775 36.6059 17.1634C36.775 17.1352 36.93 17.1071 37.0708 17.0789C37.2258 17.0507 37.3596 17.0296 37.4723 17.0155V19.4034C37.106 19.5725 36.6552 19.6922 36.1199 19.7627C35.5986 19.8472 35.1337 19.8895 34.7252 19.8895Z" fill="white"/>
    <path d="M42.4713 19.974C41.9359 19.974 41.4428 19.8965 40.992 19.7415C40.5553 19.5866 40.1679 19.3682 39.8297 19.0864C39.5057 18.8047 39.2521 18.4666 39.069 18.0721C38.8999 17.6635 38.8154 17.2198 38.8154 16.7408V16.4872C38.8154 15.3038 39.3155 14.4162 40.3158 13.8245C41.316 13.2328 42.8657 12.937 44.9649 12.937H45.789V12.62C45.789 12.1128 45.634 11.7113 45.3241 11.4155C45.0142 11.1055 44.5493 10.9506 43.9294 10.9506H43.8237C43.3166 10.9506 42.7812 11.0421 42.2177 11.2253C41.6682 11.3943 41.1047 11.662 40.5271 12.0283L39.3437 9.87281C40.0058 9.45017 40.7455 9.1191 41.5626 8.8796C42.3797 8.6401 43.2109 8.52035 44.0562 8.52035H44.2464C44.9508 8.52035 45.5777 8.61193 46.1271 8.79507C46.6766 8.97822 47.1415 9.25293 47.5219 9.61923C47.9163 9.98552 48.2192 10.4293 48.4305 10.9506C48.6419 11.4718 48.7475 12.0635 48.7475 12.7257V17.2268C48.7475 17.6776 48.7827 18.1073 48.8532 18.5159C48.9236 18.9103 49.0152 19.3189 49.1279 19.7415H46.1905C46.1201 19.5725 46.0567 19.3823 46.0003 19.171C45.9581 18.9597 45.9229 18.7342 45.8947 18.4947C45.4861 18.9737 44.986 19.34 44.3943 19.5936C43.8026 19.8472 43.1616 19.974 42.4713 19.974ZM43.2743 17.5861C43.7392 17.5861 44.19 17.4874 44.6267 17.2902C45.0635 17.093 45.4509 16.8042 45.789 16.4238V14.7755H45.1551C44.0139 14.7755 43.1686 14.9023 42.6192 15.1559C42.0697 15.4094 41.795 15.7898 41.795 16.297V16.4027C41.795 16.5717 41.8302 16.7337 41.9007 16.8887C41.9711 17.0296 42.0697 17.1564 42.1965 17.2691C42.3233 17.3677 42.4783 17.4452 42.6615 17.5015C42.8446 17.5579 43.0489 17.5861 43.2743 17.5861Z" fill="white"/>
    <path d="M50.427 19.7415L53.9984 14.0781V13.9936L50.575 8.75281H54.0618L56.0482 12.2819H56.1539L58.098 8.75281H61.5003L58.098 13.9936V14.0781L61.6482 19.7415H58.1826L56.0693 15.8532H55.9425L53.8293 19.7415H50.427Z" fill="white"/>
    <path d="M69.5913 19.974C68.8728 19.974 68.2177 19.8472 67.626 19.5936C67.0484 19.34 66.5483 18.9808 66.1256 18.5159C66.0974 18.7272 66.0552 18.9456 65.9988 19.171C65.9566 19.3964 65.9072 19.5866 65.8509 19.7415H63.3573V4.52637H66.506V9.64036C66.9005 9.27407 67.3583 8.99935 67.8796 8.8162C68.4009 8.61897 68.9714 8.52035 69.5913 8.52035H69.7604C70.4789 8.52035 71.1339 8.65419 71.7256 8.92186C72.3314 9.17545 72.8456 9.54174 73.2683 10.0207C73.6909 10.4997 74.015 11.0703 74.2404 11.7324C74.4799 12.3805 74.5996 13.1131 74.5996 13.9302V14.5642C74.5996 15.3672 74.4799 16.0998 74.2404 16.7619C74.015 17.424 73.6909 17.9946 73.2683 18.4736C72.8456 18.9526 72.3314 19.3259 71.7256 19.5936C71.1339 19.8472 70.4789 19.974 69.7604 19.974H69.5913ZM68.8094 17.6283H69.0207C69.3588 17.6283 69.6688 17.5508 69.9505 17.3959C70.2464 17.2409 70.4929 17.0296 70.6902 16.7619C70.9015 16.4801 71.0635 16.142 71.1762 15.7476C71.2889 15.3531 71.3453 14.9164 71.3453 14.4374V13.9513C71.3453 13.4864 71.2889 13.0638 71.1762 12.6834C71.0635 12.2889 70.9015 11.9649 70.6902 11.7113C70.4929 11.4436 70.2464 11.2394 69.9505 11.0985C69.6688 10.9435 69.3588 10.866 69.0207 10.866H68.8094C68.4713 10.866 68.1543 10.9435 67.8585 11.0985C67.5767 11.2394 67.3301 11.4436 67.1188 11.7113C66.9216 11.9649 66.7666 12.2889 66.6539 12.6834C66.5412 13.0638 66.4849 13.4864 66.4849 13.9513V14.4374C66.4849 14.9164 66.5412 15.3531 66.6539 15.7476C66.7666 16.142 66.9216 16.4801 67.1188 16.7619C67.3301 17.0296 67.5767 17.2409 67.8585 17.3959C68.1402 17.5508 68.4572 17.6283 68.8094 17.6283Z" fill="white"/>
    <path d="M81.6578 19.974C80.8407 19.974 80.087 19.8402 79.3966 19.5725C78.7204 19.3048 78.1357 18.9385 77.6427 18.4736C77.1496 17.9946 76.7622 17.424 76.4804 16.7619C76.2127 16.0998 76.0789 15.3672 76.0789 14.5642V13.9302C76.0789 13.1272 76.2127 12.3946 76.4804 11.7324C76.7622 11.0703 77.1496 10.5068 77.6427 10.0419C78.1357 9.56287 78.7204 9.18954 79.3966 8.92186C80.087 8.65419 80.8407 8.52035 81.6578 8.52035H81.8691C82.7003 8.52035 83.454 8.65419 84.1302 8.92186C84.8206 9.18954 85.4123 9.56287 85.9053 10.0419C86.3984 10.5068 86.7788 11.0703 87.0465 11.7324C87.3142 12.3946 87.448 13.1272 87.448 13.9302V14.5642C87.448 15.3672 87.3142 16.0998 87.0465 16.7619C86.7788 17.424 86.3984 17.9946 85.9053 18.4736C85.4123 18.9385 84.8206 19.3048 84.1302 19.5725C83.454 19.8402 82.7003 19.974 81.8691 19.974H81.6578ZM81.6789 17.6283H81.8691C82.2213 17.6283 82.5383 17.5508 82.8201 17.3959C83.1159 17.2409 83.3624 17.0296 83.5597 16.7619C83.771 16.4801 83.926 16.142 84.0246 15.7476C84.1373 15.3531 84.1936 14.9164 84.1936 14.4374V13.9513C84.1936 13.4723 84.1373 13.0426 84.0246 12.6623C83.926 12.2819 83.771 11.9649 83.5597 11.7113C83.3484 11.4436 83.1018 11.2394 82.8201 11.0985C82.5383 10.9435 82.2213 10.866 81.8691 10.866H81.6789C81.3267 10.866 81.0027 10.9435 80.7068 11.0985C80.4251 11.2394 80.1856 11.4436 79.9883 11.7113C79.7911 11.9649 79.6361 12.2819 79.5234 12.6623C79.4107 13.0426 79.3544 13.4723 79.3544 13.9513V14.4374C79.3544 14.9164 79.4037 15.3531 79.5023 15.7476C79.615 16.142 79.77 16.4801 79.9672 16.7619C80.1785 17.0296 80.4251 17.2409 80.7068 17.3959C81.0027 17.5508 81.3267 17.6283 81.6789 17.6283Z" fill="white"/>
    <path d="M87.9392 19.7415L91.5105 14.0781V13.9936L88.0871 8.75281H91.5739L93.5603 12.2819H93.666L95.6101 8.75281H99.0124L95.6101 13.9936V14.0781L99.1604 19.7415H95.6947L93.5815 15.8532H93.4547L91.3414 19.7415H87.9392Z" fill="white"/>
    <path d="M0 6.5244C0 2.92107 2.92107 0 6.5244 0H17.4756C21.0789 0 24 2.92107 24 6.5244V17.4756C24 21.0789 21.0789 24 17.4756 24H6.5244C2.92107 24 0 21.0789 0 17.4756V6.5244Z" fill="white"/>
    <path d="M12.8471 18C11.2059 18 10.2176 17.1091 10.2176 15.1273V10.2727H9V8.74545C9.35294 8.61818 9.82941 8.50909 10.2176 8.47273V6.27273L12.3882 6V8.45455H14.9118V10.2727H12.3706V14.6909C12.3706 15.7091 12.7588 16.0545 13.4824 16.0545C13.8882 16.0545 14.6471 15.9636 15 15.8545V17.6364C14.4529 17.8909 13.4824 18 12.8471 18Z" fill="black"/>
  </g>
</svg>`,
  },
];

const contactLinks = [
  "Служба турботи",
  "Відділ продажів",
  "Ставайте партнером Чекбокса",
  "Запишіться на демо",
];
const contactPhone = "0 800 330 676";
const legalLinks = [
  "Політика конфіденційності",
  "Публічна оферта",
  "Посередництво",
];

// Nav groups in mobile (accordion) order; `column` places them in the desktop grid
const navGroups = [
  {
    column: 1,
    title: "Продукти",
    items: [
      "Цифрова каса",
      "Еквайринг",
      "КЕП для касира",
      "Кредитування для бізнесу",
      "Обладнання",
    ],
  },
  {
    column: 1,
    title: "Інтеграції",
    items: [
      "Облікові системи",
      "CRM-системи",
      "CMS та eCommerce",
      "Маркетплейси",
      "Банки",
      "Платіжні системи",
      "Служби доставки",
      "POS-обладнання",
    ],
  },
  {
    column: 2,
    title: "Рішення для бізнесу",
    items: [
      "Малому бізнесу",
      "Ентерпрайзу",
      "Класичному рітейлу",
      "Мережам",
      "Торговцям на маркетплейсах",
      "Інтернет-магазинам",
      "Ресторанам і готелям",
      "Медичним центрам",
      "Краса та догляд",
      "Спортивним клубам",
      "Ломбардам",
      "Обмінникам валют",
      "Франшизам",
      "Вендінг",
      "ТРЦ",
      "Платформам (доставка, таксі)",
    ],
  },
  {
    column: 3,
    title: "Порівняння",
    items: [
      "Вчасно.Каса",
      "Приват Каса",
      "Poster",
      "ПРРО від Податкової",
      "Cashalot",
      "CashDesk",
      "є-Чек",
      "Вебчек",
      "ПРРО від Skyservice",
    ],
  },
  {
    column: 3,
    title: "Матеріали",
    items: [
      "API документація",
      "Текстові інструкції",
      "Відеогайди",
      "Блог",
      "Історії клієнтів",
    ],
  },
  {
    column: 4,
    title: "Компанія",
    items: ["Про нас", "Клієнти", "Для преси", "Вакансії", "Новини"],
  },
  { column: 4, title: "Контакти", items: contactLinks, isContacts: true },
];

const columns = [1, 2, 3, 4];
---

<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div>
        <a href={base} aria-label="Checkbox">
          <LogoWhite />
        </a>
        <p class="footer-text">
          <strong>Чекбокс — турботливий провайдер цифрових кас.</strong>
          Допомагаємо сотням тисяч українських бізнесів впевнено торгувати, не відволікаючись
          на зайву бюрократію та страх перед податковою.
        </p>
        <div class="footer-socials">
          {
            socialLinks.map((social) => (
              <a
                href={social.href}
                aria-label={social.label}
                class="footer-social"
              >
                <DottedBorder
                  color="rgba(255, 255, 255, 0.48)"
                  gap={2}
                  radius={8}
                />
                <Fragment set:html={social.icon} />
              </a>
            ))
          }
        </div>
        <div class="footer-payments">
          <div class="footer-payment">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="12"
              viewBox="0 0 40 12"
              fill="none"
            >
              <g clip-path="url(#clip0_10755_7391)">
                <path
                  d="M26.0476 0.0175781C23.2104 0.0175781 20.6748 1.37658 20.6748 3.88687C20.6748 6.76601 25.1716 6.96485 25.1716 8.41144C25.1716 9.02054 24.4164 9.56569 23.126 9.56569C21.2952 9.56569 19.9268 8.80395 19.9268 8.80395L19.3412 11.3375C19.3412 11.3375 20.9176 11.981 23.0104 11.981C26.1124 11.981 28.5536 10.5555 28.5536 8.00193C28.5536 4.95943 24.038 4.7665 24.038 3.42413C24.038 2.94699 24.658 2.42438 25.9444 2.42438C27.396 2.42438 28.58 2.9784 28.58 2.9784L29.1532 0.531684C29.1532 0.531684 27.8644 0.0175781 26.0472 0.0175781H26.0476ZM0.088789 0.202375L0.019989 0.571601C0.019989 0.571601 1.21359 0.773399 2.28879 1.17626C3.67319 1.63788 3.77159 1.90695 4.00479 2.74149L6.54519 11.7903H9.95079L15.1972 0.202375H11.7996L8.42839 8.08103L7.05279 1.40245C6.92679 0.638128 6.28759 0.202006 5.50559 0.202006H0.089189L0.088789 0.202375ZM16.5636 0.202375L13.8984 11.7903H17.1384L19.794 0.202375H16.5636ZM34.634 0.202375C33.8528 0.202375 33.4388 0.588971 33.1352 1.26422L28.3884 11.7903H31.786L32.4432 10.0358H36.5824L36.982 11.7903H39.98L37.3648 0.202375H34.634ZM35.076 3.33321L36.0832 7.68149H33.3852L35.0764 3.33321H35.076Z"
                  fill="white"></path>
              </g>
              <defs>
                <clipPath id="clip0_10755_7391">
                  <rect width="40" height="12" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="footer-payment">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="26"
              height="16"
              viewBox="0 0 26 16"
              fill="none"
            >
              <path
                d="M16.5076 1.71133H9.47158V14.2887H16.5076V1.71133Z"
                fill="#FF5A00"></path>
              <path
                d="M9.93995 8C9.93995 5.44466 11.1473 3.1767 13 1.71133C11.6365 0.64466 9.91653 0 8.04043 0C3.59608 0 0 3.57799 0 8C0 12.422 3.59608 16 8.04043 16C9.91653 16 11.6365 15.3553 13 14.2887C11.1447 12.844 9.93995 10.5553 9.93995 8Z"
                fill="#EB001B"></path>
              <path
                d="M26 8C26 12.422 22.4039 16 17.9596 16C16.0835 16 14.3635 15.3553 13 14.2887C14.8761 12.8207 16.06 10.5553 16.06 8C16.06 5.44466 14.8527 3.1767 13 1.71133C14.3609 0.64466 16.0809 0 17.957 0C22.4039 0 26 3.60129 26 8Z"
                fill="#F79E1B"></path>
            </svg>
          </div>
          <div class="footer-payment">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="39"
              height="16"
              viewBox="0 0 39 16"
              fill="none"
            >
              <g clip-path="url(#clip0_10755_7396)">
                <path
                  d="M7.12967 2.0628C6.67264 2.60324 5.94139 3.0295 5.21014 2.9686C5.11874 2.23787 5.47675 1.46147 5.89569 0.981922C6.35272 0.426261 7.15253 0.0304472 7.79999 0C7.87616 0.76118 7.57909 1.50714 7.12967 2.0628ZM7.79237 3.11323C6.73358 3.05233 5.82714 3.71456 5.3244 3.71456C4.81405 3.71456 4.04471 3.14367 3.20682 3.1589C2.11757 3.17412 1.10448 3.79068 0.548425 4.7726C-0.594153 6.73644 0.251355 9.64415 1.35585 11.2426C1.89667 12.0343 2.54413 12.902 3.39725 12.8716C4.20468 12.8411 4.5246 12.3463 5.4996 12.3463C6.48221 12.3463 6.76405 12.8716 7.61718 12.8563C8.50077 12.8411 9.05682 12.0647 9.59764 11.2731C10.2146 10.3749 10.466 9.49952 10.4812 9.45385C10.466 9.43863 8.77499 8.79163 8.75975 6.84301C8.74452 5.21408 10.0928 4.43768 10.1537 4.39201C9.39198 3.26546 8.2037 3.14367 7.79237 3.11323ZM13.909 0.905804V12.7726H15.7523V8.71551H18.3041C20.6349 8.71551 22.2726 7.11703 22.2726 4.80304C22.2726 2.48906 20.6654 0.905804 18.365 0.905804H13.909ZM15.7523 2.45861H17.8775C19.4771 2.45861 20.3912 3.31113 20.3912 4.81066C20.3912 6.31018 19.4771 7.17031 17.8699 7.17031H15.7523V2.45861ZM25.6394 12.8639C26.7973 12.8639 27.8713 12.2778 28.3588 11.3492H28.3969V12.7726H30.1031V6.86584C30.1031 5.15319 28.732 4.04948 26.6221 4.04948C24.6644 4.04948 23.2172 5.16841 23.1639 6.70599H24.8244C24.9615 5.97526 25.6394 5.49572 26.5687 5.49572C27.6961 5.49572 28.3283 6.02093 28.3283 6.98763V7.64225L26.0279 7.77926C23.8875 7.90866 22.7297 8.78401 22.7297 10.3064C22.7297 11.844 23.9256 12.8639 25.6394 12.8639ZM26.1346 11.4558C25.1519 11.4558 24.5273 10.9838 24.5273 10.2607C24.5273 9.51475 25.1291 9.08088 26.2793 9.01237L28.3283 8.88297V9.55281C28.3283 10.6641 27.3838 11.4558 26.1346 11.4558ZM32.3807 16C34.1783 16 35.0238 15.3149 35.7627 13.2369L39 4.16365H37.1262L34.9553 11.1741H34.9172L32.7463 4.16365H30.8191L33.9422 12.803L33.7746 13.3283C33.4928 14.2188 33.0357 14.5614 32.2207 14.5614C32.076 14.5614 31.7941 14.5461 31.6799 14.5309V15.9543C31.7865 15.9848 32.2435 16 32.3807 16Z"
                  fill="white"></path>
              </g>
              <defs>
                <clipPath id="clip0_10755_7396">
                  <rect width="39" height="16" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="footer-payment">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="41"
              height="16"
              viewBox="0 0 41 16"
              fill="none"
            >
              <path
                d="M19.3793 7.80013V12.4786H17.8422V0.908214H21.8385C22.8119 0.908214 23.7341 1.26036 24.4514 1.91433C25.1687 2.518 25.5273 3.42351 25.5273 4.37932C25.5273 5.33514 25.1687 6.19034 24.4514 6.84432C23.7341 7.49829 22.8632 7.85043 21.8385 7.85043L19.3793 7.80013ZM19.3793 2.31678V6.34126H21.941C22.5045 6.34126 23.0681 6.14003 23.4267 5.73759C24.2465 4.983 24.2465 3.72535 23.478 2.97076L23.4267 2.92045C23.0169 2.518 22.5045 2.26647 21.941 2.31678H19.3793Z"
                fill="white"></path>
              <path
                d="M29.0625 4.32902C30.1896 4.32902 31.0606 4.63085 31.7267 5.23453C32.3927 5.8382 32.7001 6.64309 32.7001 7.64921V12.4786H31.2655V11.3719H31.2143C30.5995 12.2774 29.7285 12.7301 28.7038 12.7301C27.8329 12.7301 27.0644 12.4786 26.4495 11.9755C25.886 11.4725 25.5273 10.7682 25.5273 10.0136C25.5273 9.2087 25.8347 8.55472 26.4495 8.05166C27.0644 7.5486 27.9353 7.34738 28.96 7.34738C29.8822 7.34738 30.5995 7.49829 31.1631 7.85043V7.49829C31.1631 6.99523 30.9581 6.49217 30.5483 6.19034C30.1384 5.8382 29.6261 5.63697 29.0625 5.63697C28.1915 5.63697 27.5255 5.98911 27.0644 6.6934L25.7323 5.8885C26.552 4.83208 27.6279 4.32902 29.0625 4.32902ZM27.1156 10.0639C27.1156 10.4663 27.3205 10.8185 27.6279 11.0197C27.9866 11.2712 28.3964 11.4222 28.8063 11.4222C29.4211 11.4222 30.0359 11.1706 30.497 10.7179C31.0094 10.2651 31.2655 9.71176 31.2655 9.10808C30.8044 8.75594 30.1384 8.55472 29.2674 8.55472C28.6526 8.55472 28.1403 8.70564 27.7304 9.00747C27.3205 9.259 27.1156 9.61114 27.1156 10.0639Z"
                fill="white"></path>
              <path
                d="M41 4.58055L35.9278 16H34.3908L36.2865 12.0258L32.9563 4.63085H34.5958L37.0037 10.3154H37.055L39.4118 4.63085H41V4.58055Z"
                fill="white"></path>
              <path
                d="M13.2824 6.79401C13.2824 6.34126 13.2312 5.8885 13.1799 5.43575H6.7757V8.00135H10.4133C10.2596 8.80625 9.7985 9.56084 9.08123 10.0136V11.6737H11.2843C12.5651 10.5167 13.2824 8.80625 13.2824 6.79401Z"
                fill="#4285F4"></path>
              <path
                d="M6.7757 13.2835C8.62012 13.2835 10.1571 12.6798 11.2843 11.6737L9.08123 10.0136C8.46642 10.416 7.69791 10.6676 6.7757 10.6676C5.03374 10.6676 3.49672 9.51053 2.98438 7.90074H0.730084V9.61114C1.90847 11.8749 4.214 13.2835 6.7757 13.2835Z"
                fill="#34A853"></path>
              <path
                d="M2.98438 7.90074C2.67698 7.09585 2.67698 6.19034 2.98438 5.33514V3.62474H0.730084C-0.243361 5.48606 -0.243361 7.69952 0.730084 9.61114L2.98438 7.90074Z"
                fill="#FBBC04"></path>
              <path
                d="M6.7757 2.61862C7.74914 2.61862 8.67135 2.97076 9.38863 3.62473L11.3355 1.71311C10.1059 0.606378 8.46642 -0.0475994 6.82693 0.00270653C4.26523 0.00270653 1.90847 1.41127 0.781318 3.67504L3.03561 5.38544C3.49672 3.77565 5.03374 2.61862 6.7757 2.61862Z"
                fill="#EA4335"></path>
            </svg>
          </div>
        </div>
      </div>

      <div class="footer-group">
        <DottedBorder color="#fff" />
        <p class="footer-group-title">
          Ми є частиною <svg
            xmlns="http://www.w3.org/2000/svg"
            width="155"
            height="18"
            viewBox="0 0 155 18"
            fill="none"
          >
            <path
              d="M77.9574 4.03464C80.9836 3.5787 83.812 5.63482 84.2836 8.6338C84.7558 11.6327 82.6939 14.4456 79.6712 14.9257C76.6314 15.4085 73.7753 13.3494 73.301 10.3334C72.8259 7.31734 74.9141 4.49316 77.9574 4.03464ZM79.2344 12.425C80.8482 12.1977 81.9827 10.7329 81.787 9.12838C81.592 7.52385 80.1391 6.36853 78.5175 6.5283C77.4376 6.63467 76.5003 7.31193 76.067 8.29862C75.6338 9.28532 75.7728 10.4271 76.4301 11.2834C77.0873 12.1397 78.1601 12.5764 79.2344 12.425Z"
              fill="white"></path>
            <path
              d="M29.195 4.03852C31.36 3.93687 33.1898 4.41882 34.4594 6.28173C35.2169 7.39318 35.5093 9.02091 35.2423 10.3239L30.0408 10.3222C29.3804 10.3211 27.8178 10.2836 27.235 10.366C27.2155 10.3981 27.196 10.4303 27.1765 10.4624C27.1856 10.4718 27.2866 10.575 27.2866 10.5752C27.3237 10.6995 27.3345 10.938 27.3437 11.0592C27.7983 11.3376 28.0391 12.3957 29.1367 12.5542C30.7529 12.7875 31.6533 12.6689 32.7286 11.3939C32.8557 11.2433 33.1851 11.4195 33.3994 11.4675C33.6256 11.5178 35.0602 11.8487 35.082 12.0443L35.0831 12.0545C35.0916 12.1312 34.8747 12.5879 34.8282 12.6534C33.1717 15.0198 29.8778 15.4765 27.3761 14.3253C23.2388 12.4216 23.7122 5.50086 28.1878 4.31184C28.5153 4.22484 28.8872 4.1425 29.195 4.03852ZM30.7377 8.61253C31.2256 8.61443 32.2617 8.64467 32.699 8.56507L32.7367 8.46052L32.5741 8.38789C32.4241 6.90702 30.6344 5.95685 29.3206 6.35141C28.5074 6.68047 28.1346 6.77957 27.5289 7.52108C27.5026 8.01713 27.3491 8.04547 27.2094 8.52943C27.5217 8.68594 30.1978 8.61605 30.7377 8.61253Z"
              fill="white"></path>
            <path
              d="M41.5628 4.03935C43.7925 3.93274 44.9283 4.41157 46.5331 5.91812C46.6632 6.04021 46.8175 6.46005 46.9259 6.5759C47.1758 6.84333 47.2668 6.89626 47.1741 7.30535C47.1304 7.37735 46.9734 7.58407 46.9135 7.57668C46.3134 7.50279 44.6964 8.62961 44.6053 7.68939C44.6042 7.67878 44.52 7.50497 44.5234 7.5094C44.2691 7.1894 43.889 6.94132 43.5378 6.732C42.9166 6.39257 42.1221 6.33661 41.4553 6.53935C39.4116 7.16058 38.8917 9.62284 39.9267 11.3132C40.0133 11.4547 40.7839 12.2094 40.9028 12.2425C42.6322 12.7245 43.9112 12.586 44.8155 10.9086C45.1814 10.9626 46.9227 11.4015 47.1865 11.5787C47.3844 12.1469 46.585 12.8497 46.3344 13.3085C46.2764 13.526 45.8604 13.6343 45.7392 13.7652C45.2414 14.3028 44.6556 14.4905 43.9382 14.7029C41.0764 15.5502 37.9728 14.132 37.0075 11.2756C36.7544 10.4972 36.645 8.98518 36.8428 8.15824C37.1915 6.70114 38.4421 5.16756 39.8154 4.51599C40.3771 4.24947 41.0435 4.22077 41.5628 4.03935Z"
              fill="white"></path>
            <path
              d="M84.7863 14.3951C85.0188 14.1652 88.4691 9.45384 88.489 9.52633C88.3167 8.90794 84.9139 4.71559 84.9522 4.42983C85.2174 4.34191 87.5693 4.304 87.8855 4.43066C88.1919 4.55329 90.0092 7.45866 90.1886 7.33336C90.8643 6.8612 91.8095 4.71471 92.6837 4.39201C92.888 4.3166 93.7757 4.36199 94.0409 4.35986C94.3571 4.35732 95.1385 4.31581 95.4008 4.45814C95.42 4.46849 95.4391 4.48013 95.4569 4.49296C94.3784 5.52944 92.8702 8.21909 91.879 9.43345C91.8343 9.48787 92.739 10.6364 92.8248 10.7363C93.5991 11.6382 94.7428 13.6471 95.5732 14.3969C95.4349 14.5612 95.5037 14.5218 95.3236 14.5433C94.6698 14.6219 93.0886 14.4713 92.5285 14.6067C92.5185 14.5739 92.5065 14.5415 92.493 14.5099C92.3306 14.1208 91.6223 13.4103 91.3514 13.0107C91.1252 12.678 90.4715 11.5904 90.1801 11.4736C89.8957 11.626 88.1273 14.1013 87.7742 14.5535L85.5485 14.5639C85.2039 14.5623 84.9976 14.6066 84.7863 14.3951Z"
              fill="white"></path>
            <path
              d="M84.7863 14.3951C84.9976 14.6066 85.2039 14.5623 85.5485 14.5639L87.7742 14.5535L87.7572 14.6732C87.5381 14.8428 85.133 14.7798 84.7047 14.7476C84.6246 14.5766 84.6466 14.6292 84.6728 14.4159L84.7863 14.3951Z"
              fill="white"></path>
            <path
              d="M95.5732 14.3969L95.698 14.4176C95.7228 14.6202 95.7448 14.5748 95.6732 14.7438C94.9974 14.792 93.3113 14.8041 92.6497 14.7387L92.5285 14.6067C93.0886 14.4713 94.6698 14.6219 95.3236 14.5433C95.5037 14.5218 95.4349 14.5612 95.5732 14.3969Z"
              fill="white"></path>
            <path
              d="M103.532 18C103.317 17.8095 102.894 17.7401 102.574 17.4668C101.395 16.4621 100.939 15.2936 100.948 13.7784C100.962 11.4986 100.969 9.22733 100.953 6.94845C100.949 6.2036 100.915 5.36881 100.972 4.62606C101.005 4.14719 101.103 3.67501 101.265 3.22268C101.544 2.46598 102.213 1.91965 102.76 1.30676C103.323 1.20396 103.924 0.772999 104.397 0.761847C105.52 0.735445 106.684 0.747806 107.806 0.747665L146.148 0.745366C148.099 0.74519 150.381 0.657484 152.301 0.891799C152.615 0.930281 152.888 1.21044 153.11 1.34255C154.052 1.90174 154.268 2.3107 154.737 3.27272C154.864 3.53377 154.825 3.60044 155 3.87172V15.0936C154.696 15.5673 154.609 16.2539 154.189 16.7714C154.005 16.9983 152.562 17.9893 152.557 18H103.532Z"
              fill="white"></path>
            <path
              d="M127.396 5.79299C127.991 5.60912 129.089 5.84415 129.632 6.09289C132.216 7.27653 132.273 11.5742 129.713 12.8152C129.378 12.9776 129.007 13.0717 128.652 13.1969C125.252 13.406 123.603 10.8971 124.715 7.77842C125.232 6.33 126.174 6.26292 127.396 5.79299Z"
              fill="black"></path>
            <path
              d="M127.437 7.06137C127.738 7.04801 128.131 7.02238 128.417 7.09188C128.956 7.22076 129.419 7.55665 129.706 8.02535C130.201 8.83907 130.193 10.1283 129.716 10.9482C129.438 11.4254 129.084 11.6071 128.625 11.8807C128.26 11.8878 127.494 11.9224 127.17 11.859C125.399 10.5415 125.324 8.03744 127.437 7.06137Z"
              fill="white"></path>
            <path
              d="M117.207 5.8982C118.579 5.89084 120.19 5.79548 121.517 6.00544C122.91 6.22601 123.671 8.45455 122.645 9.46458C122.366 9.73613 122.083 10.0039 121.796 10.2678C122.02 10.8653 122.995 12.2706 123.377 12.8638C123.363 12.9179 123.353 12.9635 123.343 13.0007C123.032 13.1425 122.276 13.089 121.921 13.0635C121.588 12.8188 120.56 10.9769 120.262 10.4939C120.003 10.5989 119.034 10.5707 118.732 10.4627C118.753 11.3365 118.754 12.2107 118.734 13.0846L117.207 13.0848V5.8982Z"
              fill="black"></path>
            <path
              d="M118.732 10.4627C118.932 10.2661 119.992 10.283 120.25 10.3951L120.262 10.4939C120.003 10.5989 119.034 10.5707 118.732 10.4627Z"
              fill="white"></path>
            <path
              d="M118.75 7.07565C120.212 7.08612 121.02 6.68784 121.761 8.15171C121.63 8.35899 121.502 8.64678 121.394 8.87339C120.783 9.33042 119.538 9.19901 118.746 9.18502L118.75 7.07565Z"
              fill="white"></path>
            <path
              d="M141.618 5.77341C142.393 5.70773 145.747 5.6318 146.209 6.14087C148.199 6.68088 147.704 10.388 145.591 10.3414L145.456 10.4809C145.058 10.6052 143.714 10.5557 143.218 10.5466V13.1851C142.65 13.2164 142.181 13.2055 141.612 13.1889C141.572 12.3208 141.605 11.1679 141.604 10.2817C141.593 8.77895 141.598 7.27609 141.618 5.77341Z"
              fill="black"></path>
            <path
              d="M141.618 5.77341C142.393 5.70773 145.747 5.6318 146.209 6.14087C145.998 6.11064 145.59 6.00563 145.45 5.99773C144.22 5.92778 142.92 5.94911 141.686 5.95701V13.026L143.051 13.0276C143.048 12.4231 142.918 10.8669 143.22 10.4964C143.613 10.2066 144.999 10.3315 145.591 10.3414L145.456 10.4809C145.058 10.6052 143.714 10.5557 143.218 10.5466V13.1851C142.65 13.2164 142.181 13.2055 141.612 13.1889C141.572 12.3208 141.605 11.1679 141.604 10.2817C141.593 8.77895 141.598 7.27609 141.618 5.77341Z"
              fill="white"></path>
            <path
              d="M143.176 7.07975C143.604 7.07152 144.032 7.06709 144.461 7.0666C145.753 7.07785 146.535 8.09506 145.603 8.99147C145.066 9.3192 143.841 9.22505 143.171 9.21767L143.176 7.07975Z"
              fill="white"></path>
            <path
              d="M114.187 13.0837C114.168 12.842 114.167 12.45 114.033 12.2653C113.734 12.4426 113.124 12.9852 112.837 13.0657C109.721 13.9418 107.797 11.1394 108.504 8.36382C108.721 7.49757 109.275 6.75194 110.046 6.29093C110.95 5.76713 112.026 5.61921 113.039 5.87947C113.753 6.0625 115.252 6.82087 115.034 7.7071C114.958 7.7803 113.887 8.22551 113.817 8.14072C113.136 7.31166 113.209 7.01357 112.02 7.01341C109.085 7.01301 109.186 12.0828 112.094 11.9765C112.77 11.9519 113.607 11.4204 113.82 10.7993C113.601 10.299 112.729 10.6654 112.221 10.5131L112.147 10.365C112.157 10.0387 112.165 9.71241 112.171 9.38602H115.298V13.0849L114.187 13.0837Z"
              fill="black"></path>
            <path
              d="M112.147 10.365C112.573 10.3312 113.81 10.1376 113.909 10.615L113.82 10.7993C113.601 10.299 112.729 10.6654 112.221 10.5131L112.147 10.365Z"
              fill="white"></path>
            <path
              d="M133.078 5.89824H134.516C134.523 7.27756 134.196 10.418 135.049 11.4836C135.682 12.2745 137.809 12.0091 137.923 10.6353C138.05 9.09675 137.974 7.47942 137.975 5.90514C138.453 5.88892 139.014 5.90419 139.498 5.90539V7.20703L139.509 8.83835C139.515 10.0801 139.625 11.3455 138.659 12.3534C137.074 14.0081 133.191 13.2348 133.087 10.7179C133.024 9.1769 133.074 7.47485 133.078 5.89824Z"
              fill="black"></path>
            <path
              d="M60.6607 0H63.355C63.3539 0.695294 63.298 5.15482 63.4314 5.4735C63.6985 5.28792 63.7278 5.09974 63.9228 4.95357C64.9431 4.17307 66.2491 3.85788 67.5169 4.08618C68.9982 4.34396 70.1292 5.18163 71.0121 6.37794C71.6077 7.186 71.9374 9.06749 71.9048 10.1005C71.9055 10.0826 71.5425 10.8986 71.6822 11.1417C71.6885 11.1523 71.4354 11.5973 71.4205 11.6523C71.3454 11.8143 71.239 12.1598 71.156 12.2908C70.749 12.9342 70.1139 13.6831 69.4776 14.1031C68.2522 14.9121 67.0742 15.0688 65.6422 14.8036C64.859 14.6585 64.566 14.4358 63.9279 13.9939C63.6419 13.7959 63.6195 13.4893 63.4072 13.4831C63.3117 13.8982 63.3833 14.293 63.3302 14.5546L60.6842 14.5545C60.6004 13.9235 60.6585 10.7775 60.6585 10.0114L60.6607 0ZM66.8911 12.4044C68.5013 12.0534 69.5296 10.4861 69.2009 8.88404C68.8721 7.28204 67.308 6.23788 65.6874 6.53869C64.6163 6.73752 63.7364 7.4934 63.3853 8.51638C63.0341 9.53935 63.2662 10.6706 63.9926 11.4762C64.7189 12.2817 65.8268 12.6365 66.8911 12.4044Z"
              fill="white"></path>
            <path
              d="M12.4206 0H15.1031L15.1013 3.58499C15.1013 4.08886 15.0763 5.06231 15.1274 5.52156C15.2972 5.52526 15.4082 5.36116 15.562 5.21527L15.5977 5.18136C16.6631 3.76081 19.6984 3.68149 21.0024 4.77849C21.849 5.49069 22.5684 6.63589 22.4953 7.7518C22.4716 10.0088 22.5036 12.2945 22.501 14.5545H19.9613C19.9653 12.893 20.1052 9.33278 19.7248 7.90818L19.626 7.88701C19.5854 7.44643 19.2176 7.05381 18.8514 6.8207C17.5506 5.99282 15.2727 7.05339 15.3043 8.64435L15.1597 8.69926C15.0501 9.13956 15.1055 13.8582 15.1073 14.5632L12.4303 14.5455C12.3678 13.0209 12.4205 11.1264 12.4204 9.57943L12.4206 0Z"
              fill="white"></path>
            <path
              d="M49.2037 0H51.9291L51.9297 5.95402C51.9297 6.3293 51.8998 8.12291 51.9656 8.37371C52.34 8.34594 55.0196 4.83977 55.6244 4.43123C55.771 4.33214 58.5045 4.35694 58.6712 4.40576C58.6349 4.69926 55.2233 8.14843 54.9168 8.73927C54.9085 8.75544 55.0143 8.98487 55.0406 9.02424C56.1544 10.6876 57.4799 12.2085 58.6095 13.862C58.6351 13.8996 58.6897 13.9545 58.7231 13.9879C58.7221 14.1775 58.9318 14.369 59.055 14.5108C58.6648 14.634 56.7121 14.469 56.074 14.6074C55.2952 13.3665 54.2095 12.1669 53.3363 11.0028C53.293 10.9449 53.2336 10.8221 53.1946 10.7529C52.9296 10.7951 51.9554 11.876 51.9372 12.1391C51.8828 12.9243 51.9582 13.7566 51.9067 14.5506L49.2166 14.5544C49.1543 12.9806 49.2031 11.0958 49.203 9.50356L49.2037 0Z"
              fill="white"></path>
            <path
              d="M0 8.50991L0.00925739 8.49683C0.121589 8.33694 0.374566 7.30314 0.564716 6.93556C1.34187 5.43324 2.82937 4.41659 4.45046 4.11663C5.95165 3.82825 7.50658 4.15548 8.76027 5.02359C9.25285 5.35862 10.7077 6.85776 10.467 7.41585C10.0396 7.56878 8.53996 8.17164 8.12133 7.9846C7.85444 7.79364 7.59677 7.3082 7.36917 7.10851C6.07288 5.97133 3.74892 6.29863 3.0186 7.96119C1.86334 10.591 3.8255 13.3236 6.7816 12.2728C7.41214 12.0487 7.66534 11.5085 8.01384 10.9959C8.12495 10.8558 10.2725 11.3338 10.4985 11.7462C10.4498 12.2049 10.2199 12.0608 10.1899 12.2908C10.0902 13.0545 9.48577 13.262 9.00333 13.7625C8.05185 14.7498 6.09783 15.0294 4.8093 14.8849C3.30195 14.7157 2.04774 14.0372 1.13246 12.8568C0.385286 12.0569 0.225298 10.713 0 10.4721V8.50991Z"
              fill="white"></path>
            <path
              d="M22.4953 7.7518L22.6332 7.78963C22.7166 8.24933 22.7075 10.5495 22.6891 11.1575C22.6582 12.1774 22.7385 13.7743 22.6708 14.7456C22.245 14.7596 20.1694 14.8566 19.91 14.6587C19.4996 13.5429 19.8793 10.6295 19.7397 9.30332C19.7477 9.37911 19.6722 7.68029 19.626 7.88701L19.7248 7.90818C20.1052 9.33278 19.9653 12.893 19.9613 14.5545H22.501C22.5036 12.2945 22.4716 10.0088 22.4953 7.7518Z"
              fill="white"></path>
            <path
              d="M15.1073 14.5632C15.1055 13.8582 15.0501 9.13956 15.1597 8.69926L15.3043 8.64435C15.3391 9.2124 15.3806 14.204 15.268 14.5175L15.1073 14.5632Z"
              fill="white"></path>
            <path
              d="M15.1031 0H15.3157C15.3137 1.06751 15.237 4.30251 15.3435 5.20364C15.4441 5.18892 15.4961 5.18431 15.5977 5.18136L15.562 5.21527C15.4082 5.36116 15.2972 5.52526 15.1274 5.52156C15.0763 5.06231 15.1013 4.08886 15.1013 3.58499L15.1031 0Z"
              fill="white"></path>
            <path
              d="M58.7231 13.9879C59.0201 14.0843 59.1286 14.3828 59.2375 14.6586L59.2063 14.7412C58.8105 14.7942 56.5438 14.8015 56.1786 14.7175L56.074 14.6074C56.7121 14.469 58.6648 14.634 59.055 14.5108C58.9318 14.369 58.7221 14.1775 58.7231 13.9879Z"
              fill="white"></path>
            <path
              d="M49.2166 14.5544L51.9067 14.5506L51.8743 14.696C51.6313 14.8419 49.6321 14.7918 49.2682 14.7288L49.2166 14.5544Z"
              fill="white"></path>
            <path
              d="M60.6842 14.5545L63.3302 14.5546L63.2924 14.7023C63.0578 14.8328 61.0701 14.8055 60.7356 14.7186L60.6842 14.5545Z"
              fill="white"></path>
            <path
              d="M12.4303 14.5455L15.1073 14.5632L15.0745 14.7045C14.8423 14.8322 12.8085 14.8046 12.4688 14.7134L12.4303 14.5455Z"
              fill="white"></path>
          </svg>
        </p>
        <p class="footer-group-desc">
          українська група FinTech-компаній та бізнес-екосистема, що швидко
          зростає:
        </p>
        <div class="footer-group-brands">
          {
            groupBrands.map((group) => (
              <a href={group.link}>
                <Fragment set:html={group.icon} />
              </a>
            ))
          }
        </div>
      </div>
    </div>

    <div class="footer-nav">
      {
        columns.map((column) => (
          <div class="footer-col">
            {navGroups
              .filter((group) => group.column === column)
              .map((group) => (
                <div class="footer-nav-group">
                  <button
                    type="button"
                    class="footer-nav-toggle"
                    aria-expanded="false"
                  >
                    {group.title}
                    <svg
                      class="footer-chevron"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                    >
                      <path
                        d="M11.9983 13.1704L16.9481 8.2207L18.3623 9.63491L11.9983 15.9989L5.6344 9.63491L7.04861 8.2207L11.9983 13.1704Z"
                        fill="white"
                      />
                    </svg>
                  </button>
                  <div class="footer-nav-content">
                    <ul>
                      {group.items.map((item) => (
                        <li>
                          <a href="#">{item}</a>
                        </li>
                      ))}
                    </ul>
                    {group.isContacts && (
                      <Fragment>
                        <div class="footer-phone-divider" />
                        <a
                          href={`tel:${contactPhone.replace(/\s/g, "")}`}
                          class="footer-phone"
                        >
                          <svg
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                            fill="none"
                          >
                            <g opacity="0.64">
                              <path
                                d="M17.5 13.6833V16.6301C17.5 17.0676 17.1617 17.4306 16.7254 17.4614C16.3609 17.4872 16.0636 17.5 15.8333 17.5C8.4695 17.5 2.5 11.5305 2.5 4.16667C2.5 3.93642 2.51288 3.63906 2.53863 3.27458C2.56948 2.83823 2.93245 2.5 3.36988 2.5H6.31675C6.53065 2.5 6.7098 2.66202 6.73127 2.87483C6.75056 3.06589 6.76848 3.21928 6.78506 3.33502C6.95362 4.51227 7.29794 5.6328 7.79058 6.66919C7.86966 6.83554 7.81809 7.03466 7.66821 7.14172L5.86962 8.4265C6.9646 10.9843 9.01575 13.0354 11.5735 14.1304L12.8559 12.3349C12.9643 12.1832 13.1658 12.1311 13.3342 12.211C14.3705 12.7032 15.4909 13.0472 16.668 13.2153C16.783 13.2318 16.9354 13.2496 17.1252 13.2687C17.338 13.2902 17.5 13.4694 17.5 13.6833Z"
                                fill="white"
                              />
                            </g>
                          </svg>
                          {contactPhone}
                        </a>
                      </Fragment>
                    )}
                  </div>
                </div>
              ))}
          </div>
        ))
      }
    </div>

    <div class="footer-bottom">
      <div class="footer-legal-info">
        <span>Copyright © {year} Checkbox. Всі права захищені.</span>
        <span>ТОВ «Чекбокс»</span>
        <span>ЄДРПОУ 43721744</span>
      </div>
      <div class="footer-legal-links">
        {legalLinks.map((label) => <a href="#">{label}</a>)}
      </div>
    </div>
  </div>
</footer>

<script>
  document.querySelectorAll(".footer-nav-toggle").forEach((btn) => {
    btn.addEventListener("click", () => {
      const group = btn.closest(".footer-nav-group");
      if (!group) return;
      const open = group.classList.toggle("is-open");
      btn.setAttribute("aria-expanded", String(open));
    });
  });
</script>

<style>
  .footer {
    background: var(--color-black);
    color: var(--color-white);
    padding-block: 120px;
  }

  .footer-top {
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 48px; */
    padding-bottom: 24px;
  }

  .footer-text {
    color: var(--color-grey-light);
    padding: 32px 0;

    strong {
      font-weight: 500;
      color: var(--color-white);
    }
  }

  .footer-desc strong {
    color: #fff;
    font-weight: 600;
  }

  .footer-socials {
    display: flex;
    gap: 12px;
    margin-bottom: 32px;
  }

  .footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    color: var(--color-white);
    position: relative;

    svg {
      transition: all 0.3s;
    }
  }

  .footer-social:hover svg {
    transform: scale(1.1);
  }

  .footer-payments {
    display: flex;
    gap: 10px;
    margin: 20px 0 64px;
  }

  .footer-payment {
    width: 64px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.16);
  }

  .footer-group {
    padding: 24px;
    align-self: start;
    position: relative;
  }

  .footer-group-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-white);
    padding-bottom: 8px;

    svg {
      margin-top: 6px;
    }
  }

  .footer-group-desc {
    color: var(--color-grey-light);
  }

  .footer-group-brands {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
    margin-top: 32px;

    a g {
      transition: all 0.3s;
    }

    a:hover g {
      opacity: 0.9;
    }
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
  }

  .footer-col {
    display: contents;
  }

  .footer-nav-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 48px;
    background: none;
    border: none;
    color: var(--color-white);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
  }

  .footer-chevron {
    flex-shrink: 0;
    transition: transform 0.2s ease;
  }

  .footer-nav-group.is-open .footer-chevron {
    transform: rotate(180deg);
  }

  .footer-nav-content {
    display: none;
    padding-bottom: 18px;
  }

  .footer-nav-group.is-open .footer-nav-content {
    display: block;
  }

  .footer-nav-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .footer-nav-content a {
    color: var(--color-grey-light);
    text-decoration: none;
    font-weight: 500;
  }

  .footer-nav-content a:hover {
    color: var(--color-white);
  }

  .footer-phone-divider {
    width: 32px;
    height: 1px;
    background: var(--color-grey-light);
    margin: 16px 0;
  }

  .footer-phone {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: var(--color-grey-light);
    text-decoration: none;
    font-family: var(--font-mono);
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.16px;
  }

  /* Bottom legal bar */
  .footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;
    background: repeating-linear-gradient(
      90deg,
      #ffffff7a 0,
      #ffffff7a 1px,
      transparent 1px,
      transparent 8px
    )
    0 0 / 8px 1px repeat-x;
    color: var(--color-grey-light);
  }

  .footer-legal-info,
  .footer-legal-links {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-grey-light);
    display: flex;
    flex-direction: column;
    gap: 32px;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .footer-legal-links a:hover {
    color: var(--color-white);
  }

  @media (min-width: 1024px) {
    .footer {
      padding: 160px 0 32px;
    }

    .footer-top {
      grid-template-columns: 567px 1fr;
      gap: 64px;
      justify-content: space-between;
      padding-bottom: 0;
    }

    .footer-group {
      max-width: 610px;
      justify-self: end;
    }

    .footer-group-brands {
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .footer-group-title {
      display: flex;
      align-items: center;
      gap: 8px;

      svg {
        display: inline-block;
        margin: 0;
      }
    }

    .footer-group-desc {
      width: 434px;
    }

    .footer-payments {
      margin-bottom: 0;
    }

    .footer-nav {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 32px;
      margin: 174px 0;
    }

    .footer-col {
      display: block;
    }

    .footer-nav-group {
      border-top: none;
    }

    .footer-nav-group + .footer-nav-group {
      margin-top: 64px;
    }

    .footer-nav-toggle {
      padding: 0;
      margin-bottom: 16px;
      pointer-events: none;
    }

    .footer-chevron {
      display: none;
    }

    .footer-nav-content {
      display: block;
      padding-bottom: 0;
    }

    .footer-bottom {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    .footer-legal-info {
      flex-direction: row;
      gap: 24px;
    }

    .footer-legal-links {
      flex-direction: row;
      gap: 24px;
    }
  }
</style>
