---
import logoSvg from '../assets/icons/logo.svg?raw';

const year = new Date().getFullYear();
// Prefix internal links with the configured base path (see astro.config.mjs)
const base = import.meta.env.BASE_URL.replace(/\/?$/, '/');

// Reusable line-icon paths, injected via set:html
const icons: Record<string, string> = {
	telegram: '<path d="M21 4 3 11l6 2.2M21 4l-3 16-7-5.4M21 4 9 13.2v5l3-3.4"/>',
	instagram: '<rect x="3" y="3" width="18" height="18" rx="5"/><circle cx="12" cy="12" r="4"/><circle cx="17" cy="7" r="1" fill="currentColor" stroke="none"/>',
	youtube: '<rect x="2" y="5" width="20" height="14" rx="4"/><path d="M10.5 9.5v5l4.5-2.5-4.5-2.5Z" fill="currentColor" stroke="none"/>',
	facebook: '<path d="M16 8h-2a2 2 0 0 0-2 2v2H9v3h3v6h3v-6h2.5l.5-3H15v-1.5a.5.5 0 0 1 .5-.5H16V8Z"/>',
};

const socialLinks = [
	{ icon: 'telegram', href: '#', label: 'Telegram' },
	{ icon: 'instagram', href: '#', label: 'Instagram' },
	{ icon: 'facebook', href: '#', label: 'Facebook' },
	{ icon: 'youtube', href: '#', label: 'YouTube' },
];

const groupBrands = [`<svg xmlns="http://www.w3.org/2000/svg" width="128" height="24" viewBox="0 0 128 24" fill="none">
  <g opacity="0.64">
    <path d="M36.0407 19.0198C35.2377 19.0198 34.5051 18.8859 33.843 18.6183C33.1808 18.3365 32.6103 17.9561 32.1313 17.4771C31.6664 16.9981 31.3001 16.4275 31.0324 15.7654C30.7647 15.0892 30.6309 14.3636 30.6309 13.5888V12.9971C30.6309 12.2222 30.7647 11.5037 31.0324 10.8416C31.3142 10.1795 31.6875 9.61594 32.1524 9.15103C32.6314 8.67203 33.1949 8.2987 33.843 8.03102C34.491 7.74926 35.1954 7.60838 35.9562 7.60838H36.1253C37.0973 7.60838 37.9708 7.8197 38.7457 8.24234C39.5346 8.6509 40.2038 9.24965 40.7532 10.0386L38.5343 11.6235C38.2103 11.0459 37.8651 10.6373 37.4989 10.3978C37.1466 10.1442 36.724 10.0174 36.2309 10.0174H36.1041C35.766 10.0174 35.4561 10.0879 35.1743 10.2288C34.9066 10.3697 34.6742 10.5739 34.4769 10.8416C34.2938 11.0952 34.1529 11.4122 34.0543 11.7926C33.9557 12.1729 33.9064 12.6167 33.9064 13.1239V13.5043C33.9064 13.9833 33.9557 14.4129 34.0543 14.7933C34.167 15.1737 34.322 15.4907 34.5192 15.7443C34.7305 15.9979 34.97 16.1951 35.2377 16.336C35.5195 16.4769 35.8365 16.5473 36.1887 16.5473H36.3788C36.8297 16.5473 37.2382 16.4205 37.6045 16.1669C37.9849 15.8992 38.323 15.4907 38.6189 14.9412L40.8166 16.6318C40.2672 17.4208 39.6121 18.0195 38.8513 18.4281C38.0906 18.8225 37.2171 19.0198 36.2309 19.0198H36.0407Z" fill="white"/>
    <path d="M42.5803 18.8084V3.59326H45.729V9.0665C46.1939 8.60159 46.7293 8.24234 47.3351 7.98876C47.9549 7.72108 48.6171 7.58725 49.3215 7.58725C50.519 7.58725 51.4418 7.95354 52.0898 8.68612C52.7379 9.4187 53.0619 10.4471 53.0619 11.7714V18.8084H49.9132V12.4477C49.9132 11.6869 49.7582 11.1304 49.4483 10.7782C49.1524 10.4119 48.6875 10.2288 48.0536 10.2288C47.6873 10.2288 47.3562 10.2851 47.0603 10.3978C46.7786 10.5105 46.532 10.6796 46.3207 10.905C46.1235 11.1163 45.9756 11.384 45.8769 11.708C45.7783 12.018 45.729 12.3702 45.729 12.7646V18.8084H42.5803Z" fill="white"/>
    <path d="M60.5909 19.0409C59.7597 19.0409 59.006 18.9141 58.3298 18.6605C57.6535 18.3928 57.0689 18.0195 56.5758 17.5405C56.0968 17.0474 55.7234 16.4698 55.4558 15.8077C55.1881 15.1314 55.0543 14.3777 55.0543 13.5465V13.145C55.0543 12.3279 55.1881 11.5812 55.4558 10.905C55.7234 10.2147 56.0897 9.63002 56.5546 9.15103C57.0336 8.65794 57.6042 8.27756 58.2663 8.00989C58.9426 7.74222 59.6752 7.60838 60.4641 7.60838H60.7388C61.4714 7.60838 62.1476 7.73517 62.7675 7.98876C63.3874 8.22826 63.9157 8.57342 64.3524 9.02424C64.8032 9.46097 65.1484 9.98927 65.3879 10.6091C65.6415 11.2149 65.7683 11.8841 65.7683 12.6167V14.1805H58.1184C58.1607 14.5468 58.2523 14.8779 58.3931 15.1737C58.534 15.4555 58.7172 15.702 58.9426 15.9133C59.1821 16.1106 59.4568 16.2655 59.7667 16.3782C60.0767 16.4769 60.4218 16.5262 60.8022 16.5262H60.9924C61.6123 16.5262 62.1617 16.3994 62.6407 16.1458C63.1197 15.8922 63.5283 15.5823 63.8664 15.216L65.4302 17.1813C65.1625 17.4489 64.8526 17.7025 64.5004 17.942C64.1622 18.1674 63.7959 18.3647 63.4015 18.5337C63.0211 18.6887 62.6196 18.8084 62.1969 18.893C61.7743 18.9916 61.3517 19.0409 60.929 19.0409H60.5909ZM58.203 12.2575H62.7886V12.1941C62.7746 11.8278 62.7112 11.5037 62.5985 11.222C62.4998 10.9402 62.359 10.7007 62.1758 10.5035C61.9927 10.3063 61.7743 10.1583 61.5207 10.0597C61.2671 9.9611 60.9924 9.91179 60.6966 9.91179H60.4852C60.1894 9.91179 59.9076 9.96814 59.6399 10.0808C59.3864 10.1795 59.1609 10.3344 58.9637 10.5458C58.7806 10.743 58.6186 10.9895 58.4777 11.2854C58.3509 11.5671 58.2593 11.8912 58.203 12.2575Z" fill="white"/>
    <path d="M72.7274 19.0198C71.9243 19.0198 71.1918 18.8859 70.5296 18.6183C69.8675 18.3365 69.2969 17.9561 68.8179 17.4771C68.353 16.9981 67.9867 16.4275 67.719 15.7654C67.4514 15.0892 67.3175 14.3636 67.3175 13.5888V12.9971C67.3175 12.2222 67.4514 11.5037 67.719 10.8416C68.0008 10.1795 68.3741 9.61594 68.8391 9.15103C69.318 8.67203 69.8816 8.2987 70.5296 8.03102C71.1777 7.74926 71.8821 7.60838 72.6428 7.60838H72.8119C73.784 7.60838 74.6574 7.8197 75.4323 8.24234C76.2212 8.6509 76.8904 9.24965 77.4399 10.0386L75.221 11.6235C74.8969 11.0459 74.5518 10.6373 74.1855 10.3978C73.8333 10.1442 73.4107 10.0174 72.9176 10.0174H72.7908C72.4527 10.0174 72.1427 10.0879 71.861 10.2288C71.5933 10.3697 71.3608 10.5739 71.1636 10.8416C70.9804 11.0952 70.8396 11.4122 70.7409 11.7926C70.6423 12.1729 70.593 12.6167 70.593 13.1239V13.5043C70.593 13.9833 70.6423 14.4129 70.7409 14.7933C70.8536 15.1737 71.0086 15.4907 71.2059 15.7443C71.4172 15.9979 71.6567 16.1951 71.9244 16.336C72.2061 16.4769 72.5231 16.5473 72.8753 16.5473H73.0655C73.5163 16.5473 73.9249 16.4205 74.2912 16.1669C74.6715 15.8992 75.0097 15.4907 75.3055 14.9412L77.5033 16.6318C76.9538 17.4208 76.2987 18.0195 75.538 18.4281C74.7772 18.8225 73.9037 19.0198 72.9176 19.0198H72.7274Z" fill="white"/>
    <path d="M79.267 18.8084V3.59326H82.4157V12.342H82.6059L86.2195 7.8197H89.664L85.3108 12.8703L89.7063 18.8084H86.0504L82.627 13.7156H82.4157V18.8084H79.267Z" fill="white"/>
    <path d="M97.6198 19.0409C96.9013 19.0409 96.2462 18.9141 95.6545 18.6605C95.0769 18.4069 94.5767 18.0477 94.1541 17.5828C94.1259 17.7941 94.0837 18.0125 94.0273 18.2379C93.985 18.4633 93.9357 18.6535 93.8794 18.8084H91.3858V3.59326H94.5345V8.70725C94.929 8.34096 95.3868 8.06624 95.9081 7.8831C96.4293 7.68586 96.9999 7.58725 97.6198 7.58725H97.7888C98.5073 7.58725 99.1624 7.72108 99.7541 7.98876C100.36 8.24234 100.874 8.60864 101.297 9.08763C101.719 9.56663 102.043 10.1372 102.269 10.7993C102.508 11.4474 102.628 12.18 102.628 12.9971V13.6311C102.628 14.4341 102.508 15.1667 102.269 15.8288C102.043 16.4909 101.719 17.0615 101.297 17.5405C100.874 18.0195 100.36 18.3928 99.7541 18.6605C99.1624 18.9141 98.5073 19.0409 97.7888 19.0409H97.6198ZM96.8379 16.6952H97.0492C97.3873 16.6952 97.6973 16.6177 97.979 16.4628C98.2749 16.3078 98.5214 16.0965 98.7187 15.8288C98.93 15.547 99.092 15.2089 99.2047 14.8145C99.3174 14.42 99.3737 13.9833 99.3737 13.5043V13.0182C99.3737 12.5533 99.3174 12.1307 99.2047 11.7503C99.092 11.3558 98.93 11.0318 98.7187 10.7782C98.5214 10.5105 98.2749 10.3063 97.979 10.1654C97.6973 10.0104 97.3873 9.93292 97.0492 9.93292H96.8379C96.4998 9.93292 96.1828 10.0104 95.8869 10.1654C95.6052 10.3063 95.3586 10.5105 95.1473 10.7782C94.9501 11.0318 94.7951 11.3558 94.6824 11.7503C94.5697 12.1307 94.5133 12.5533 94.5133 13.0182V13.5043C94.5133 13.9833 94.5697 14.42 94.6824 14.8145C94.7951 15.2089 94.9501 15.547 95.1473 15.8288C95.3586 16.0965 95.6052 16.3078 95.8869 16.4628C96.1687 16.6177 96.4857 16.6952 96.8379 16.6952Z" fill="white"/>
    <path d="M109.686 19.0409C108.869 19.0409 108.115 18.9071 107.425 18.6394C106.749 18.3717 106.164 18.0054 105.671 17.5405C105.178 17.0615 104.791 16.4909 104.509 15.8288C104.241 15.1667 104.107 14.4341 104.107 13.6311V12.9971C104.107 12.1941 104.241 11.4615 104.509 10.7993C104.791 10.1372 105.178 9.57367 105.671 9.10876C106.164 8.62977 106.749 8.25643 107.425 7.98876C108.115 7.72108 108.869 7.58725 109.686 7.58725H109.898C110.729 7.58725 111.482 7.72108 112.159 7.98876C112.849 8.25643 113.441 8.62977 113.934 9.10876C114.427 9.57367 114.807 10.1372 115.075 10.7993C115.343 11.4615 115.476 12.1941 115.476 12.9971V13.6311C115.476 14.4341 115.343 15.1667 115.075 15.8288C114.807 16.4909 114.427 17.0615 113.934 17.5405C113.441 18.0054 112.849 18.3717 112.159 18.6394C111.482 18.9071 110.729 19.0409 109.898 19.0409H109.686ZM109.707 16.6952H109.898C110.25 16.6952 110.567 16.6177 110.849 16.4628C111.144 16.3078 111.391 16.0965 111.588 15.8288C111.799 15.547 111.954 15.2089 112.053 14.8145C112.166 14.42 112.222 13.9833 112.222 13.5043V13.0182C112.222 12.5392 112.166 12.1095 112.053 11.7292C111.954 11.3488 111.799 11.0318 111.588 10.7782C111.377 10.5105 111.13 10.3063 110.849 10.1654C110.567 10.0104 110.25 9.93292 109.898 9.93292H109.707C109.355 9.93292 109.031 10.0104 108.735 10.1654C108.454 10.3063 108.214 10.5105 108.017 10.7782C107.82 11.0318 107.665 11.3488 107.552 11.7292C107.439 12.1095 107.383 12.5392 107.383 13.0182V13.5043C107.383 13.9833 107.432 14.42 107.531 14.8145C107.643 15.2089 107.798 15.547 107.996 15.8288C108.207 16.0965 108.454 16.3078 108.735 16.4628C109.031 16.6177 109.355 16.6952 109.707 16.6952Z" fill="white"/>
    <path d="M115.968 18.8084L119.539 13.145V13.0605L116.116 7.8197H119.602L121.589 11.3488H121.694L123.639 7.8197H127.041L123.639 13.0605V13.145L127.189 18.8084H123.723L121.61 14.9201H121.483L119.37 18.8084H115.968Z" fill="white"/>
    <path d="M0 6.5244C0 2.92107 2.92107 0 6.5244 0H17.4756C21.0789 0 24 2.92107 24 6.5244V17.4756C24 21.0789 21.0789 24 17.4756 24H6.5244C2.92107 24 0 21.0789 0 17.4756V6.5244Z" fill="white"/>
    <path d="M18 6V18H6V6H18ZM16.0783 16.0783V7.92171H7.92171V16.0783H16.0783ZM14.7654 9.2352V15.0003L9.03268 9.2352H14.7654Z" fill="black"/>
  </g>
</svg>`, `<svg xmlns="http://www.w3.org/2000/svg" width="104" height="24" viewBox="0 0 104 24" fill="none">
  <g opacity="0.64">
    <path d="M31.1612 22.2261V7.01095H33.6548C33.7111 7.16592 33.7604 7.35611 33.8027 7.58152C33.859 7.80693 33.9013 8.02529 33.9295 8.23662C34.3521 7.7858 34.8523 7.43359 35.4299 7.18001C36.0216 6.91233 36.6767 6.77849 37.3952 6.77849H37.5642C38.2827 6.77849 38.9378 6.91233 39.5295 7.18001C40.1353 7.43359 40.6495 7.79988 41.0722 8.27888C41.4948 8.75788 41.8188 9.32844 42.0442 9.99059C42.2837 10.6386 42.4035 11.3712 42.4035 12.1883V12.8223C42.4035 13.6253 42.2837 14.3579 42.0442 15.0201C41.8188 15.6822 41.4948 16.2528 41.0722 16.7318C40.6495 17.2108 40.1353 17.5841 39.5295 17.8518C38.9378 18.1053 38.2827 18.2321 37.5642 18.2321H37.3952C36.7753 18.2321 36.2047 18.1406 35.6835 17.9574C35.1622 17.7602 34.7043 17.4784 34.3099 17.1121V22.2261H31.1612ZM36.6133 15.8865H36.8246C37.1627 15.8865 37.4726 15.809 37.7544 15.654C38.0503 15.499 38.2968 15.2877 38.494 15.0201C38.7054 14.7383 38.8674 14.4002 38.9801 14.0057C39.0928 13.6112 39.1491 13.1745 39.1491 12.6955V12.2095C39.1491 11.7446 39.0928 11.3219 38.9801 10.9415C38.8674 10.5471 38.7054 10.223 38.494 9.96945C38.2968 9.70178 38.0503 9.4975 37.7544 9.35662C37.4726 9.20165 37.1627 9.12417 36.8246 9.12417H36.6133C36.2611 9.12417 35.9441 9.20165 35.6623 9.35662C35.3806 9.4975 35.134 9.70178 34.9227 9.96945C34.7255 10.2371 34.5705 10.5612 34.4578 10.9415C34.3451 11.3219 34.2887 11.7446 34.2887 12.2095V12.6955C34.2887 13.1745 34.3451 13.6112 34.4578 14.0057C34.5705 14.4002 34.7255 14.7383 34.9227 15.0201C35.134 15.2877 35.3806 15.499 35.6623 15.654C35.9582 15.809 36.2752 15.8865 36.6133 15.8865Z" fill="white"/>
    <path d="M49.4616 18.2321C48.6445 18.2321 47.8908 18.0983 47.2005 17.8306C46.5243 17.563 45.9396 17.1967 45.4465 16.7318C44.9534 16.2528 44.566 15.6822 44.2843 15.0201C44.0166 14.3579 43.8827 13.6253 43.8827 12.8223V12.1883C43.8827 11.3853 44.0166 10.6527 44.2843 9.99059C44.566 9.32844 44.9534 8.76492 45.4465 8.30001C45.9396 7.82102 46.5243 7.44768 47.2005 7.18001C47.8908 6.91233 48.6445 6.77849 49.4616 6.77849H49.673C50.5042 6.77849 51.2579 6.91233 51.9341 7.18001C52.6244 7.44768 53.2161 7.82102 53.7092 8.30001C54.2023 8.76492 54.5827 9.32844 54.8504 9.99059C55.118 10.6527 55.2519 11.3853 55.2519 12.1883V12.8223C55.2519 13.6253 55.118 14.3579 54.8504 15.0201C54.5827 15.6822 54.2023 16.2528 53.7092 16.7318C53.2161 17.1967 52.6244 17.563 51.9341 17.8306C51.2579 18.0983 50.5042 18.2321 49.673 18.2321H49.4616ZM49.4828 15.8865H49.673C50.0252 15.8865 50.3422 15.809 50.6239 15.654C50.9198 15.499 51.1663 15.2877 51.3635 15.0201C51.5749 14.7383 51.7298 14.4002 51.8284 14.0057C51.9412 13.6112 51.9975 13.1745 51.9975 12.6955V12.2095C51.9975 11.7305 51.9412 11.3008 51.8284 10.9204C51.7298 10.54 51.5749 10.223 51.3635 9.96945C51.1522 9.70178 50.9057 9.4975 50.6239 9.35662C50.3422 9.20165 50.0252 9.12417 49.673 9.12417H49.4828C49.1306 9.12417 48.8065 9.20165 48.5107 9.35662C48.2289 9.4975 47.9894 9.70178 47.7922 9.96945C47.595 10.223 47.44 10.54 47.3273 10.9204C47.2146 11.3008 47.1582 11.7305 47.1582 12.2095V12.6955C47.1582 13.1745 47.2075 13.6112 47.3062 14.0057C47.4189 14.4002 47.5738 14.7383 47.7711 15.0201C47.9824 15.2877 48.2289 15.499 48.5107 15.654C48.8065 15.809 49.1306 15.8865 49.4828 15.8865Z" fill="white"/>
    <path d="M61.4831 18.2533C60.4828 18.2533 59.553 18.1194 58.6936 17.8518C57.8342 17.5841 57.0453 17.2037 56.3268 16.7106L57.806 14.4495C58.0315 14.6467 58.285 14.8299 58.5668 14.9989C58.8486 15.1539 59.1444 15.2877 59.4544 15.4004C59.7643 15.5131 60.0813 15.6047 60.4053 15.6751C60.7293 15.7315 61.0463 15.7597 61.3563 15.7597C61.5958 15.7597 61.8 15.7385 61.9691 15.6963C62.1522 15.654 62.3002 15.5977 62.4129 15.5272C62.5397 15.4427 62.6312 15.337 62.6876 15.2102C62.758 15.0834 62.7932 14.9426 62.7932 14.7876C62.7932 14.5481 62.7228 14.365 62.5819 14.2382C62.441 14.1114 62.2297 14.0057 61.948 13.9212C61.6662 13.8226 61.314 13.7239 60.8913 13.6253C60.4828 13.5126 59.9897 13.3506 59.4121 13.1393C59.0881 13.0407 58.764 12.9139 58.44 12.7589C58.116 12.6039 57.8272 12.4137 57.5736 12.1883C57.32 11.9629 57.1157 11.6882 56.9608 11.3642C56.8058 11.0261 56.7283 10.6246 56.7283 10.1596C56.7283 9.63838 56.8269 9.17348 57.0242 8.76492C57.2214 8.34228 57.4961 7.98303 57.8483 7.68718C58.2005 7.39133 58.6302 7.16592 59.1374 7.01095C59.6586 6.84189 60.2363 6.75736 60.8702 6.75736C61.6732 6.75736 62.4481 6.88415 63.1948 7.13774C63.9555 7.37724 64.6458 7.7224 65.2657 8.17322L63.7865 10.3076C63.3779 9.98354 62.906 9.72291 62.3706 9.52568C61.8353 9.32844 61.2999 9.22983 60.7646 9.22983C60.5673 9.22983 60.3912 9.25096 60.2363 9.29322C60.0813 9.3214 59.9474 9.37071 59.8347 9.44115C59.7361 9.51159 59.6586 9.60316 59.6023 9.71587C59.56 9.82857 59.5389 9.95537 59.5389 10.0962C59.5389 10.3076 59.6023 10.4766 59.7291 10.6034C59.87 10.7302 60.0531 10.8429 60.2785 10.9415C60.5039 11.0402 60.7646 11.1247 61.0604 11.1951C61.3703 11.2515 61.6873 11.3219 62.0114 11.4064C62.4481 11.5191 62.8848 11.653 63.3216 11.808C63.7724 11.9488 64.1739 12.1461 64.5261 12.3997C64.8783 12.6532 65.1671 12.9702 65.3925 13.3506C65.632 13.731 65.7518 14.217 65.7518 14.8087C65.7518 15.33 65.6461 15.8019 65.4348 16.2246C65.2375 16.6472 64.9487 17.0065 64.5684 17.3023C64.2021 17.5982 63.7583 17.8306 63.237 17.9997C62.7158 18.1687 62.1311 18.2533 61.4831 18.2533Z" fill="white"/>
    <path d="M73.9786 18.2321C73.2601 18.2321 72.605 18.1053 72.0133 17.8518C71.4357 17.5982 70.9356 17.2389 70.5129 16.774C70.4848 16.9853 70.4425 17.2037 70.3861 17.4291C70.3439 17.6545 70.2946 17.8447 70.2382 17.9997H67.7446V2.78451H70.8933V7.8985C71.2878 7.53221 71.7457 7.25749 72.2669 7.07434C72.7882 6.87711 73.3587 6.77849 73.9786 6.77849H74.1477C74.8662 6.77849 75.5213 6.91233 76.113 7.18001C76.7188 7.43359 77.233 7.79988 77.6556 8.27888C78.0783 8.75788 78.4023 9.32844 78.6277 9.99059C78.8672 10.6386 78.987 11.3712 78.987 12.1883V12.8223C78.987 13.6253 78.8672 14.3579 78.6277 15.0201C78.4023 15.6822 78.0783 16.2528 77.6556 16.7318C77.233 17.2108 76.7188 17.5841 76.113 17.8518C75.5213 18.1053 74.8662 18.2321 74.1477 18.2321H73.9786ZM73.1967 15.8865H73.4081C73.7462 15.8865 74.0561 15.809 74.3379 15.654C74.6337 15.499 74.8803 15.2877 75.0775 15.0201C75.2888 14.7383 75.4508 14.4002 75.5635 14.0057C75.6762 13.6112 75.7326 13.1745 75.7326 12.6955V12.2095C75.7326 11.7446 75.6762 11.3219 75.5635 10.9415C75.4508 10.5471 75.2888 10.223 75.0775 9.96945C74.8803 9.70178 74.6337 9.4975 74.3379 9.35662C74.0561 9.20165 73.7462 9.12417 73.4081 9.12417H73.1967C72.8586 9.12417 72.5416 9.20165 72.2458 9.35662C71.964 9.4975 71.7175 9.70178 71.5061 9.96945C71.3089 10.223 71.1539 10.5471 71.0412 10.9415C70.9285 11.3219 70.8722 11.7446 70.8722 12.2095V12.6955C70.8722 13.1745 70.9285 13.6112 71.0412 14.0057C71.1539 14.4002 71.3089 14.7383 71.5061 15.0201C71.7175 15.2877 71.964 15.499 72.2458 15.654C72.5275 15.809 72.8445 15.8865 73.1967 15.8865Z" fill="white"/>
    <path d="M86.0451 18.2321C85.228 18.2321 84.4743 18.0983 83.784 17.8306C83.1077 17.563 82.5231 17.1967 82.03 16.7318C81.5369 16.2528 81.1495 15.6822 80.8677 15.0201C80.6 14.3579 80.4662 13.6253 80.4662 12.8223V12.1883C80.4662 11.3853 80.6 10.6527 80.8677 9.99059C81.1495 9.32844 81.5369 8.76492 82.03 8.30001C82.5231 7.82102 83.1077 7.44768 83.784 7.18001C84.4743 6.91233 85.228 6.77849 86.0451 6.77849H86.2564C87.0876 6.77849 87.8413 6.91233 88.5176 7.18001C89.2079 7.44768 89.7996 7.82102 90.2927 8.30001C90.7858 8.76492 91.1661 9.32844 91.4338 9.99059C91.7015 10.6527 91.8353 11.3853 91.8353 12.1883V12.8223C91.8353 13.6253 91.7015 14.3579 91.4338 15.0201C91.1661 15.6822 90.7858 16.2528 90.2927 16.7318C89.7996 17.1967 89.2079 17.563 88.5176 17.8306C87.8413 18.0983 87.0876 18.2321 86.2564 18.2321H86.0451ZM86.0662 15.8865H86.2564C86.6086 15.8865 86.9256 15.809 87.2074 15.654C87.5032 15.499 87.7498 15.2877 87.947 15.0201C88.1583 14.7383 88.3133 14.4002 88.4119 14.0057C88.5246 13.6112 88.581 13.1745 88.581 12.6955V12.2095C88.581 11.7305 88.5246 11.3008 88.4119 10.9204C88.3133 10.54 88.1583 10.223 87.947 9.96945C87.7357 9.70178 87.4891 9.4975 87.2074 9.35662C86.9256 9.20165 86.6086 9.12417 86.2564 9.12417H86.0662C85.714 9.12417 85.39 9.20165 85.0942 9.35662C84.8124 9.4975 84.5729 9.70178 84.3757 9.96945C84.1784 10.223 84.0235 10.54 83.9108 10.9204C83.798 11.3008 83.7417 11.7305 83.7417 12.2095V12.6955C83.7417 13.1745 83.791 13.6112 83.8896 14.0057C84.0023 14.4002 84.1573 14.7383 84.3545 15.0201C84.5658 15.2877 84.8124 15.499 85.0942 15.654C85.39 15.809 85.714 15.8865 86.0662 15.8865Z" fill="white"/>
    <path d="M92.3265 17.9997L95.8978 12.3363V12.2517L92.4744 7.01095H95.9612L97.9476 10.54H98.0533L99.9975 7.01095H103.4L99.9975 12.2517V12.3363L103.548 17.9997H100.082L97.9688 14.1114H97.842L95.7288 17.9997H92.3265Z" fill="white"/>
    <path d="M0 6.5244C0 2.92107 2.92107 0 6.5244 0H17.4756C21.0789 0 24 2.92107 24 6.5244V17.4756C24 21.0789 21.0789 24 17.4756 24H6.5244C2.92107 24 0 21.0789 0 17.4756V6.5244Z" fill="white"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3775 6C13.7739 6 14.4725 6.00001 15.0865 6.23926C15.4191 6.3689 15.7299 6.54895 16.0083 6.77246C16.5223 7.18513 16.8715 7.7911 17.5699 9.00195C18.2675 10.2117 18.6163 10.8166 18.7163 11.4678C18.7705 11.8208 18.7705 12.1802 18.7163 12.5332C18.6165 13.1844 18.2673 13.79 17.5689 15.001C16.8706 16.2118 16.5216 16.8174 16.0083 17.2295C15.73 17.4529 15.419 17.6332 15.0865 17.7627C14.4732 18.0015 13.7748 18.001 12.3794 18.001C10.9834 18.001 10.2852 18.0008 9.67142 17.7617C9.3386 17.632 9.02718 17.4522 8.74857 17.2285C8.23464 16.8159 7.88528 16.2107 7.18705 15C6.48928 13.7901 6.14054 13.1845 6.04056 12.5332C5.98644 12.1804 5.98651 11.8215 6.04056 11.4688C6.14039 10.8176 6.48963 10.2119 7.18802 9.00098C7.88647 7.78992 8.23516 7.18362 8.74857 6.77148C9.02687 6.54809 9.33797 6.36878 9.67045 6.23926C10.2838 6.00035 10.982 6 12.3775 6ZM13.3589 7.00684L11.8091 7.01562C10.9821 7.02006 10.5685 7.02228 10.4136 7.29199C10.2588 7.56174 10.4655 7.91995 10.8785 8.63672L11.6597 9.99316C12.1164 10.7859 12.3447 11.1826 12.7212 11.4004C13.0979 11.6181 13.5561 11.6182 14.4712 11.6182H16.0396C16.8728 11.6182 17.2898 11.6182 17.4458 11.3477C17.6018 11.0771 17.3932 10.7162 16.9761 9.99512L16.1851 8.62695C15.7251 7.83163 15.4946 7.43398 15.1158 7.2168C14.737 6.99971 14.2775 7.00191 13.3589 7.00684Z" fill="black"/>
  </g>
</svg>`, `<svg xmlns="http://www.w3.org/2000/svg" width="100" height="24" viewBox="0 0 100 24" fill="none">
  <g opacity="0.64">
    <path d="M36.2795 18.7066C35.4483 18.7066 34.6946 18.5798 34.0183 18.3262C33.3421 18.0586 32.7575 17.6852 32.2644 17.2062C31.7854 16.7132 31.412 16.1355 31.1444 15.4734C30.8767 14.7972 30.7429 14.0435 30.7429 13.2123V12.8107C30.7429 11.9936 30.8767 11.247 31.1444 10.5707C31.412 9.88041 31.7783 9.29575 32.2432 8.81676C32.7222 8.32367 33.2928 7.94329 33.955 7.67562C34.6312 7.40794 35.3638 7.27411 36.1527 7.27411H36.4274C37.16 7.27411 37.8362 7.4009 38.4561 7.65449C39.076 7.89398 39.6043 8.23914 40.041 8.68996C40.4918 9.1267 40.837 9.655 41.0765 10.2749C41.3301 10.8807 41.4569 11.5499 41.4569 12.2824V13.8462H33.807C33.8493 14.2125 33.9409 14.5436 34.0817 14.8394C34.2226 15.1212 34.4058 15.3677 34.6312 15.5791C34.8707 15.7763 35.1454 15.9313 35.4553 16.044C35.7653 16.1426 36.1104 16.1919 36.4908 16.1919H36.681C37.3009 16.1919 37.8503 16.0651 38.3293 15.8115C38.8083 15.5579 39.2169 15.248 39.555 14.8817L41.1188 16.847C40.8511 17.1147 40.5412 17.3683 40.1889 17.6077C39.8508 17.8332 39.4845 18.0304 39.0901 18.1995C38.7097 18.3544 38.3082 18.4742 37.8855 18.5587C37.4629 18.6573 37.0403 18.7066 36.6176 18.7066H36.2795ZM33.8916 11.9232H38.4772V11.8598C38.4632 11.4935 38.3998 11.1695 38.2871 10.8877C38.1884 10.6059 38.0476 10.3665 37.8644 10.1692C37.6813 9.97198 37.4629 9.82406 37.2093 9.72544C36.9557 9.62682 36.681 9.57752 36.3852 9.57752H36.1738C35.878 9.57752 35.5962 9.63387 35.3285 9.74657C35.075 9.84519 34.8495 10.0002 34.6523 10.2115C34.4692 10.4087 34.3072 10.6553 34.1663 10.9511C34.0395 11.2329 33.9479 11.5569 33.8916 11.9232Z" fill="white"/>
    <path d="M47.8665 18.7066C47.148 18.7066 46.4859 18.5798 45.8801 18.3262C45.2884 18.0586 44.7812 17.6852 44.3586 17.2062C43.9359 16.7272 43.6049 16.1567 43.3654 15.4945C43.1259 14.8324 43.0061 14.0998 43.0061 13.2968V12.6628C43.0061 11.8457 43.1259 11.1131 43.3654 10.4651C43.6049 9.80293 43.9359 9.23236 44.3586 8.75336C44.7812 8.27436 45.2884 7.90807 45.8801 7.65449C46.4859 7.38681 47.148 7.25297 47.8665 7.25297H48.0356C48.6555 7.25297 49.226 7.35159 49.7473 7.54883C50.2686 7.73197 50.7264 8.00669 51.1209 8.37298V3.25899H54.2696V18.4742H51.776C51.7196 18.3192 51.6633 18.129 51.6069 17.9036C51.5506 17.6782 51.5083 17.4598 51.4801 17.2485C51.0716 17.7134 50.5715 18.0727 49.9798 18.3262C49.3881 18.5798 48.74 18.7066 48.0356 18.7066H47.8665ZM48.6062 16.361H48.8175C49.1697 16.361 49.4867 16.2835 49.7684 16.1285C50.0502 15.9735 50.2967 15.7622 50.5081 15.4945C50.7194 15.2128 50.8744 14.8747 50.973 14.4802C51.0857 14.0857 51.142 13.649 51.142 13.17V12.6839C51.142 12.205 51.0857 11.7753 50.973 11.3949C50.8603 11.0145 50.6983 10.6975 50.4869 10.4439C50.2897 10.1763 50.0432 9.97198 49.7473 9.8311C49.4655 9.67613 49.1556 9.59865 48.8175 9.59865H48.6062C48.2681 9.59865 47.9511 9.67613 47.6552 9.8311C47.3735 9.97198 47.1269 10.1763 46.9156 10.4439C46.7184 10.6975 46.5634 11.0145 46.4507 11.3949C46.338 11.7753 46.2816 12.205 46.2816 12.6839V13.17C46.2816 13.649 46.338 14.0857 46.4507 14.4802C46.5634 14.8747 46.7184 15.2128 46.9156 15.4945C47.1269 15.7622 47.3735 15.9735 47.6552 16.1285C47.9511 16.2835 48.2681 16.361 48.6062 16.361Z" fill="white"/>
    <path d="M57.2669 18.4742V7.48543H60.4156V18.4742H57.2669ZM58.8095 6.00618C58.2883 6.00618 57.8586 5.85825 57.5205 5.5624C57.1965 5.26655 57.0344 4.87913 57.0344 4.40013C57.0344 3.92113 57.1965 3.53371 57.5205 3.23786C57.8586 2.92792 58.2883 2.77295 58.8095 2.77295C59.359 2.77295 59.8028 2.92792 60.1409 3.23786C60.479 3.53371 60.648 3.92113 60.648 4.40013C60.648 4.87913 60.479 5.26655 60.1409 5.5624C59.8028 5.85825 59.359 6.00618 58.8095 6.00618Z" fill="white"/>
    <path d="M69.6556 18.7066C68.9371 18.7066 68.282 18.5798 67.6903 18.3262C67.1127 18.0727 66.6126 17.7134 66.19 17.2485C66.1618 17.4598 66.1195 17.6782 66.0632 17.9036C66.0209 18.129 65.9716 18.3192 65.9152 18.4742H63.4216V3.25899H66.5703V8.37298C66.9648 8.00669 67.4227 7.73197 67.9439 7.54883C68.4652 7.35159 69.0358 7.25297 69.6556 7.25297H69.8247C70.5432 7.25297 71.1983 7.38681 71.79 7.65449C72.3958 7.90807 72.91 8.27436 73.3326 8.75336C73.7553 9.23236 74.0793 9.80293 74.3047 10.4651C74.5442 11.1131 74.664 11.8457 74.664 12.6628V13.2968C74.664 14.0998 74.5442 14.8324 74.3047 15.4945C74.0793 16.1567 73.7553 16.7272 73.3326 17.2062C72.91 17.6852 72.3958 18.0586 71.79 18.3262C71.1983 18.5798 70.5432 18.7066 69.8247 18.7066H69.6556ZM68.8737 16.361H69.0851C69.4232 16.361 69.7331 16.2835 70.0149 16.1285C70.3107 15.9735 70.5573 15.7622 70.7545 15.4945C70.9658 15.2128 71.1278 14.8747 71.2406 14.4802C71.3533 14.0857 71.4096 13.649 71.4096 13.17V12.6839C71.4096 12.219 71.3533 11.7964 71.2406 11.416C71.1278 11.0215 70.9658 10.6975 70.7545 10.4439C70.5573 10.1763 70.3107 9.97198 70.0149 9.8311C69.7331 9.67613 69.4232 9.59865 69.0851 9.59865H68.8737C68.5356 9.59865 68.2187 9.67613 67.9228 9.8311C67.641 9.97198 67.3945 10.1763 67.1832 10.4439C66.9859 10.6975 66.831 11.0215 66.7183 11.416C66.6056 11.7964 66.5492 12.219 66.5492 12.6839V13.17C66.5492 13.649 66.6056 14.0857 66.7183 14.4802C66.831 14.8747 66.9859 15.2128 67.1832 15.4945C67.3945 15.7622 67.641 15.9735 67.9228 16.1285C68.2046 16.2835 68.5215 16.361 68.8737 16.361Z" fill="white"/>
    <path d="M81.7221 18.7066C80.905 18.7066 80.1513 18.5728 79.461 18.3051C78.7848 18.0374 78.2001 17.6711 77.707 17.2062C77.2139 16.7272 76.8265 16.1567 76.5447 15.4945C76.2771 14.8324 76.1432 14.0998 76.1432 13.2968V12.6628C76.1432 11.8598 76.2771 11.1272 76.5447 10.4651C76.8265 9.80293 77.2139 9.2394 77.707 8.77449C78.2001 8.2955 78.7848 7.92216 79.461 7.65449C80.1513 7.38681 80.905 7.25297 81.7221 7.25297H81.9334C82.7646 7.25297 83.5184 7.38681 84.1946 7.65449C84.8849 7.92216 85.4766 8.2955 85.9697 8.77449C86.4628 9.2394 86.8432 9.80293 87.1108 10.4651C87.3785 11.1272 87.5123 11.8598 87.5123 12.6628V13.2968C87.5123 14.0998 87.3785 14.8324 87.1108 15.4945C86.8432 16.1567 86.4628 16.7272 85.9697 17.2062C85.4766 17.6711 84.8849 18.0374 84.1946 18.3051C83.5184 18.5728 82.7646 18.7066 81.9334 18.7066H81.7221ZM81.7433 16.361H81.9334C82.2857 16.361 82.6026 16.2835 82.8844 16.1285C83.1803 15.9735 83.4268 15.7622 83.624 15.4945C83.8353 15.2128 83.9903 14.8747 84.0889 14.4802C84.2016 14.0857 84.258 13.649 84.258 13.17V12.6839C84.258 12.205 84.2016 11.7753 84.0889 11.3949C83.9903 11.0145 83.8353 10.6975 83.624 10.4439C83.4127 10.1763 83.1662 9.97198 82.8844 9.8311C82.6026 9.67613 82.2857 9.59865 81.9334 9.59865H81.7433C81.3911 9.59865 81.067 9.67613 80.7712 9.8311C80.4894 9.97198 80.2499 10.1763 80.0527 10.4439C79.8554 10.6975 79.7005 11.0145 79.5878 11.3949C79.4751 11.7753 79.4187 12.205 79.4187 12.6839V13.17C79.4187 13.649 79.468 14.0857 79.5666 14.4802C79.6793 14.8747 79.8343 15.2128 80.0315 15.4945C80.2429 15.7622 80.4894 15.9735 80.7712 16.1285C81.067 16.2835 81.3911 16.361 81.7433 16.361Z" fill="white"/>
    <path d="M88.0035 18.4742L91.5748 12.8107V12.7262L88.1514 7.48543H91.6382L93.6247 11.0145H93.7303L95.6745 7.48543H99.0768L95.6745 12.7262V12.8107L99.2247 18.4742H95.759L93.6458 14.5858H93.519L91.4058 18.4742H88.0035Z" fill="white"/>
    <path d="M0 6.5244C0 2.92107 2.92107 0 6.5244 0H17.4756C21.0789 0 24 2.92107 24 6.5244V17.4756C24 21.0789 21.0789 24 17.4756 24H6.5244C2.92107 24 0 21.0789 0 17.4756V6.5244Z" fill="white"/>
    <path d="M14.5243 18.3099C14.1496 18.3099 13.7438 18.2441 13.3067 18.1125C12.8765 17.9809 12.4741 17.7662 12.0994 17.4685C11.7317 17.1776 11.423 16.7932 11.1732 16.3154C10.9235 15.8444 10.7986 15.2696 10.7986 14.591V10.163C10.7986 9.91774 10.9974 9.71894 11.2426 9.71894H12.9251C13.1703 9.71894 13.3691 9.91774 13.3691 10.163V14.591C13.3691 14.958 13.4801 15.2419 13.7021 15.4428C13.9311 15.6436 14.2121 15.744 14.5451 15.744C14.8989 15.744 15.1765 15.6298 15.3777 15.4012C15.5789 15.1796 15.6795 14.9095 15.6795 14.591V9.71894C15.6795 9.35189 15.565 9.06795 15.336 8.86711C15.114 8.66628 14.8365 8.56586 14.5035 8.56586H10.7257C10.3649 8.56586 10.084 8.67666 9.88275 8.89828C9.68155 9.12681 9.58094 9.40729 9.58094 9.73971V14.1469C9.58094 14.3921 9.38214 14.591 9.13689 14.591H7.44405C7.19881 14.591 7 14.3921 7 14.1469V9.71894C7 9.34496 7.06591 8.93983 7.19773 8.50353C7.32956 8.07415 7.54117 7.67248 7.83256 7.29851C8.1309 6.93147 8.51596 6.62329 8.98774 6.37397C9.46647 6.12466 10.0458 6 10.7257 6L14.5243 6C14.8989 6 15.3013 6.06579 15.7315 6.19737C16.1686 6.32896 16.571 6.54018 16.9387 6.83105C17.3134 7.12884 17.6256 7.5132 17.8753 7.98413C18.1251 8.46198 18.25 9.04025 18.25 9.71894V14.591C18.25 14.9649 18.1841 15.3666 18.0523 15.796C17.9204 16.2323 17.7054 16.6339 17.407 17.001C17.1156 17.375 16.7306 17.6866 16.2519 17.9359C15.7801 18.1852 15.2042 18.3099 14.5243 18.3099Z" fill="black"/>
  </g>
</svg>`, `<svg xmlns="http://www.w3.org/2000/svg" width="100" height="24" viewBox="0 0 100 24" fill="none">
  <g opacity="0.64">
    <path d="M34.7252 19.8895C34.2321 19.8895 33.7812 19.819 33.3727 19.6782C32.9641 19.5373 32.6119 19.3189 32.3161 19.0231C32.0202 18.7272 31.7948 18.3539 31.6399 17.903C31.4849 17.4522 31.4074 16.9169 31.4074 16.297V11.183H29.9493V9.09092C30.1606 9.02048 30.3931 8.95708 30.6466 8.90073C30.9143 8.84438 31.1679 8.80211 31.4074 8.77394V6.21694L34.5138 5.83656V8.75281H37.4089V11.183H34.4927V15.7053C34.4927 16.2688 34.5984 16.6703 34.8097 16.9098C35.021 17.1352 35.3239 17.2479 35.7184 17.2479C35.8452 17.2479 35.986 17.2409 36.141 17.2268C36.296 17.1986 36.451 17.1775 36.6059 17.1634C36.775 17.1352 36.93 17.1071 37.0708 17.0789C37.2258 17.0507 37.3596 17.0296 37.4723 17.0155V19.4034C37.106 19.5725 36.6552 19.6922 36.1199 19.7627C35.5986 19.8472 35.1337 19.8895 34.7252 19.8895Z" fill="white"/>
    <path d="M42.4713 19.974C41.9359 19.974 41.4428 19.8965 40.992 19.7415C40.5553 19.5866 40.1679 19.3682 39.8297 19.0864C39.5057 18.8047 39.2521 18.4666 39.069 18.0721C38.8999 17.6635 38.8154 17.2198 38.8154 16.7408V16.4872C38.8154 15.3038 39.3155 14.4162 40.3158 13.8245C41.316 13.2328 42.8657 12.937 44.9649 12.937H45.789V12.62C45.789 12.1128 45.634 11.7113 45.3241 11.4155C45.0142 11.1055 44.5493 10.9506 43.9294 10.9506H43.8237C43.3166 10.9506 42.7812 11.0421 42.2177 11.2253C41.6682 11.3943 41.1047 11.662 40.5271 12.0283L39.3437 9.87281C40.0058 9.45017 40.7455 9.1191 41.5626 8.8796C42.3797 8.6401 43.2109 8.52035 44.0562 8.52035H44.2464C44.9508 8.52035 45.5777 8.61193 46.1271 8.79507C46.6766 8.97822 47.1415 9.25293 47.5219 9.61923C47.9163 9.98552 48.2192 10.4293 48.4305 10.9506C48.6419 11.4718 48.7475 12.0635 48.7475 12.7257V17.2268C48.7475 17.6776 48.7827 18.1073 48.8532 18.5159C48.9236 18.9103 49.0152 19.3189 49.1279 19.7415H46.1905C46.1201 19.5725 46.0567 19.3823 46.0003 19.171C45.9581 18.9597 45.9229 18.7342 45.8947 18.4947C45.4861 18.9737 44.986 19.34 44.3943 19.5936C43.8026 19.8472 43.1616 19.974 42.4713 19.974ZM43.2743 17.5861C43.7392 17.5861 44.19 17.4874 44.6267 17.2902C45.0635 17.093 45.4509 16.8042 45.789 16.4238V14.7755H45.1551C44.0139 14.7755 43.1686 14.9023 42.6192 15.1559C42.0697 15.4094 41.795 15.7898 41.795 16.297V16.4027C41.795 16.5717 41.8302 16.7337 41.9007 16.8887C41.9711 17.0296 42.0697 17.1564 42.1965 17.2691C42.3233 17.3677 42.4783 17.4452 42.6615 17.5015C42.8446 17.5579 43.0489 17.5861 43.2743 17.5861Z" fill="white"/>
    <path d="M50.427 19.7415L53.9984 14.0781V13.9936L50.575 8.75281H54.0618L56.0482 12.2819H56.1539L58.098 8.75281H61.5003L58.098 13.9936V14.0781L61.6482 19.7415H58.1826L56.0693 15.8532H55.9425L53.8293 19.7415H50.427Z" fill="white"/>
    <path d="M69.5913 19.974C68.8728 19.974 68.2177 19.8472 67.626 19.5936C67.0484 19.34 66.5483 18.9808 66.1256 18.5159C66.0974 18.7272 66.0552 18.9456 65.9988 19.171C65.9566 19.3964 65.9072 19.5866 65.8509 19.7415H63.3573V4.52637H66.506V9.64036C66.9005 9.27407 67.3583 8.99935 67.8796 8.8162C68.4009 8.61897 68.9714 8.52035 69.5913 8.52035H69.7604C70.4789 8.52035 71.1339 8.65419 71.7256 8.92186C72.3314 9.17545 72.8456 9.54174 73.2683 10.0207C73.6909 10.4997 74.015 11.0703 74.2404 11.7324C74.4799 12.3805 74.5996 13.1131 74.5996 13.9302V14.5642C74.5996 15.3672 74.4799 16.0998 74.2404 16.7619C74.015 17.424 73.6909 17.9946 73.2683 18.4736C72.8456 18.9526 72.3314 19.3259 71.7256 19.5936C71.1339 19.8472 70.4789 19.974 69.7604 19.974H69.5913ZM68.8094 17.6283H69.0207C69.3588 17.6283 69.6688 17.5508 69.9505 17.3959C70.2464 17.2409 70.4929 17.0296 70.6902 16.7619C70.9015 16.4801 71.0635 16.142 71.1762 15.7476C71.2889 15.3531 71.3453 14.9164 71.3453 14.4374V13.9513C71.3453 13.4864 71.2889 13.0638 71.1762 12.6834C71.0635 12.2889 70.9015 11.9649 70.6902 11.7113C70.4929 11.4436 70.2464 11.2394 69.9505 11.0985C69.6688 10.9435 69.3588 10.866 69.0207 10.866H68.8094C68.4713 10.866 68.1543 10.9435 67.8585 11.0985C67.5767 11.2394 67.3301 11.4436 67.1188 11.7113C66.9216 11.9649 66.7666 12.2889 66.6539 12.6834C66.5412 13.0638 66.4849 13.4864 66.4849 13.9513V14.4374C66.4849 14.9164 66.5412 15.3531 66.6539 15.7476C66.7666 16.142 66.9216 16.4801 67.1188 16.7619C67.3301 17.0296 67.5767 17.2409 67.8585 17.3959C68.1402 17.5508 68.4572 17.6283 68.8094 17.6283Z" fill="white"/>
    <path d="M81.6578 19.974C80.8407 19.974 80.087 19.8402 79.3966 19.5725C78.7204 19.3048 78.1357 18.9385 77.6427 18.4736C77.1496 17.9946 76.7622 17.424 76.4804 16.7619C76.2127 16.0998 76.0789 15.3672 76.0789 14.5642V13.9302C76.0789 13.1272 76.2127 12.3946 76.4804 11.7324C76.7622 11.0703 77.1496 10.5068 77.6427 10.0419C78.1357 9.56287 78.7204 9.18954 79.3966 8.92186C80.087 8.65419 80.8407 8.52035 81.6578 8.52035H81.8691C82.7003 8.52035 83.454 8.65419 84.1302 8.92186C84.8206 9.18954 85.4123 9.56287 85.9053 10.0419C86.3984 10.5068 86.7788 11.0703 87.0465 11.7324C87.3142 12.3946 87.448 13.1272 87.448 13.9302V14.5642C87.448 15.3672 87.3142 16.0998 87.0465 16.7619C86.7788 17.424 86.3984 17.9946 85.9053 18.4736C85.4123 18.9385 84.8206 19.3048 84.1302 19.5725C83.454 19.8402 82.7003 19.974 81.8691 19.974H81.6578ZM81.6789 17.6283H81.8691C82.2213 17.6283 82.5383 17.5508 82.8201 17.3959C83.1159 17.2409 83.3624 17.0296 83.5597 16.7619C83.771 16.4801 83.926 16.142 84.0246 15.7476C84.1373 15.3531 84.1936 14.9164 84.1936 14.4374V13.9513C84.1936 13.4723 84.1373 13.0426 84.0246 12.6623C83.926 12.2819 83.771 11.9649 83.5597 11.7113C83.3484 11.4436 83.1018 11.2394 82.8201 11.0985C82.5383 10.9435 82.2213 10.866 81.8691 10.866H81.6789C81.3267 10.866 81.0027 10.9435 80.7068 11.0985C80.4251 11.2394 80.1856 11.4436 79.9883 11.7113C79.7911 11.9649 79.6361 12.2819 79.5234 12.6623C79.4107 13.0426 79.3544 13.4723 79.3544 13.9513V14.4374C79.3544 14.9164 79.4037 15.3531 79.5023 15.7476C79.615 16.142 79.77 16.4801 79.9672 16.7619C80.1785 17.0296 80.4251 17.2409 80.7068 17.3959C81.0027 17.5508 81.3267 17.6283 81.6789 17.6283Z" fill="white"/>
    <path d="M87.9392 19.7415L91.5105 14.0781V13.9936L88.0871 8.75281H91.5739L93.5603 12.2819H93.666L95.6101 8.75281H99.0124L95.6101 13.9936V14.0781L99.1604 19.7415H95.6947L93.5815 15.8532H93.4547L91.3414 19.7415H87.9392Z" fill="white"/>
    <path d="M0 6.5244C0 2.92107 2.92107 0 6.5244 0H17.4756C21.0789 0 24 2.92107 24 6.5244V17.4756C24 21.0789 21.0789 24 17.4756 24H6.5244C2.92107 24 0 21.0789 0 17.4756V6.5244Z" fill="white"/>
    <path d="M12.8471 18C11.2059 18 10.2176 17.1091 10.2176 15.1273V10.2727H9V8.74545C9.35294 8.61818 9.82941 8.50909 10.2176 8.47273V6.27273L12.3882 6V8.45455H14.9118V10.2727H12.3706V14.6909C12.3706 15.7091 12.7588 16.0545 13.4824 16.0545C13.8882 16.0545 14.6471 15.9636 15 15.8545V17.6364C14.4529 17.8909 13.4824 18 12.8471 18Z" fill="black"/>
  </g>
</svg>`];

const contactLinks = ['Служба турботи', 'Відділ продажів', 'Ставайте партнером Чекбокса', 'Запишіться на демо'];
const contactPhone = '0 800 330 676';
const legalLinks = ['Політика конфіденційності', 'Публічна оферта', 'Посередництво'];

// Nav groups in mobile (accordion) order; `column` places them in the desktop grid
const navGroups = [
	{ column: 1, title: 'Продукти', items: ['Цифрова каса', 'Еквайринг', 'КЕП для касира', 'Кредитування для бізнесу', 'Обладнання'] },
	{ column: 1, title: 'Інтеграції', items: ['Облікові системи', 'CRM-системи', 'CMS та eCommerce', 'Маркетплейси', 'Банки', 'Платіжні системи', 'Служби доставки', 'POS-обладнання'] },
	{ column: 2, title: 'Рішення для бізнесу', items: ['Малому бізнесу', 'Ентерпрайзу', 'Класичному рітейлу', 'Мережам', 'Торговцям на маркетплейсах', 'Інтернет-магазинам', 'Ресторанам і готелям', 'Медичним центрам', 'Краса та догляд', 'Спортивним клубам', 'Ломбардам', 'Обмінникам валют', 'Франшизам', 'Вендінг', 'ТРЦ', 'Платформам (доставка, таксі)'] },
	{ column: 3, title: 'Порівняння', items: ['Вчасно.Каса', 'Приват Каса', 'Poster', 'ПРРО від Податкової', 'Cashalot', 'CashDesk', 'є-Чек', 'Вебчек', 'ПРРО від Skyservice'] },
	{ column: 3, title: 'Матеріали', items: ['API документація', 'Текстові інструкції', 'Відеогайди', 'Блог', 'Історії клієнтів'] },
	{ column: 4, title: 'Компанія', items: ['Про нас', 'Клієнти', 'Для преси', 'Вакансії', 'Новини'] },
	{ column: 4, title: 'Контакти', items: contactLinks, isContacts: true },
];

const columns = [1, 2, 3, 4];
---

<footer class="footer">
	<div class="container">
		<div class="footer-top">
			<div class="footer-brand">
				<a href={base} class="footer-logo" aria-label="Checkbox">
					<Fragment set:html={logoSvg} />
					checkbox
				</a>
				<p class="footer-desc">
					<strong>Чекбокс — турботливий провайдер цифрових кас.</strong>
					 Допомагаємо сотням тисяч українських бізнесів впевнено торгувати, не відволікаючись на зайву бюрократію та страх перед податковою.
				</p>
				<div class="footer-social">
					{socialLinks.map((social) => (
						<a href={social.href} aria-label={social.label} class="footer-social-link">
							<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" set:html={icons[social.icon]} />
						</a>
					))}
				</div>
				<div class="footer-payments">
					<span class="payment payment-visa">VISA</span>
					<span class="payment payment-mc"><span class="payment-circle payment-circle-red"></span><span class="payment-circle payment-circle-yellow"></span></span>
					<span class="payment payment-dark"> Pay</span>
					<span class="payment payment-light">G Pay</span>
				</div>
			</div>

			<div class="footer-group">
				<p class="footer-group-title">Ми є частиною <strong>checkbox</strong> <span class="footer-pill">GROUP</span></p>
				<p class="footer-group-desc">українська група FinTech-компаній та бізнес-екосистема, що швидко зростає:</p>
				<div class="footer-group-brands">
					{groupBrands.map((brandSvg) => (
						<span class="footer-group-brand">
							<Fragment set:html={brandSvg} />
						</span>
					))}
				</div>
			</div>
		</div>

		<div class="footer-nav">
			{columns.map((column) => (
				<div class="footer-col">
					{navGroups.filter((group) => group.column === column).map((group) => (
						<div class="footer-nav-group">
							<button type="button" class="footer-nav-toggle" aria-expanded="false">
								{group.title}
								<svg class="footer-chevron" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
							</button>
							<div class="footer-nav-content">
								<ul>
									{group.items.map((item) => (
										<li><a href="#">{item}</a></li>
									))}
								</ul>
								{group.isContacts && (
									<Fragment>
										<div class="footer-phone-divider"></div>
										<a href={`tel:${contactPhone.replace(/\s/g, '')}`} class="footer-phone">
											<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"><path d="M4 5c0 8 7 15 15 15l3-4-6-3-2 2c-2-1-4-3-5-5l2-2-3-6-4 3Z"/></svg>
											{contactPhone}
										</a>
									</Fragment>
								)}
							</div>
						</div>
					))}
				</div>
			))}
		</div>

		<div class="footer-bottom">
			<div class="footer-legal-info">
				<span>Copyright © {year} Checkbox. Всі права захищені.</span>
				<span>ТОВ «Чекбокс»</span>
				<span>ЄДРПОУ 43721744</span>
			</div>
			<div class="footer-legal-links">
				{legalLinks.map((label) => (
					<a href="#">{label}</a>
				))}
			</div>
		</div>
	</div>
</footer>

<script>
	document.querySelectorAll('.footer-nav-toggle').forEach((btn) => {
		btn.addEventListener('click', () => {
			const group = btn.closest('.footer-nav-group');
			if (!group) return;
			const open = group.classList.toggle('is-open');
			btn.setAttribute('aria-expanded', String(open));
		});
	});
</script>

<style>
	.footer {
		background: #000;
		color: #fff;
		padding: 48px 0 32px;
		font-family: var(--gh-font-body, 'Inter', sans-serif);
	}

	.container {
		max-width: 1400px;
		margin: 0 auto;
		padding: 0 24px;
	}

	/* Top: brand + group card */
	.footer-top {
		display: grid;
		grid-template-columns: 1fr;
		gap: 32px;
		padding-bottom: 24px;
	}

	.footer-logo {
		display: inline-flex;
		align-items: center;
		gap: 10px;
		color: #fff;
		text-decoration: none;
		font-size: 1.25rem;
		font-weight: 700;
	}

	.footer-logo :global(svg) {
		width: 30px;
		height: 30px;
	}

	.footer-desc {
		margin-top: 20px;
		max-width: 480px;
		font-size: 0.85rem;
		line-height: 1.55;
		color: #9a9a9a;
	}

	.footer-desc strong {
		color: #fff;
		font-weight: 600;
	}

	.footer-social {
		display: flex;
		gap: 10px;
		margin-top: 24px;
	}

	.footer-social-link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		border-radius: 10px;
		background: #111;
		border: 1px solid #2a2a2a;
		color: #fff;
	}

	.footer-social-link:hover {
		border-color: #555;
	}

	.footer-social-link svg {
		width: 16px;
		height: 16px;
	}

	.footer-payments {
		display: flex;
		gap: 10px;
		margin-top: 20px;
	}

	.payment {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 3px;
		height: 28px;
		padding: 0 10px;
		border-radius: 6px;
		font-size: 0.7rem;
		font-weight: 700;
	}

	.payment-visa {
		background: #fff;
		color: #1a1f71;
		font-style: italic;
	}

	.payment-mc {
		background: #fff;
		width: 44px;
	}

	.payment-circle {
		width: 14px;
		height: 14px;
		border-radius: 50%;
	}

	.payment-circle-red {
		background: #eb001b;
		margin-right: -5px;
	}

	.payment-circle-yellow {
		background: #f79e1b;
		mix-blend-mode: multiply;
	}

	.payment-dark {
		background: #000;
		border: 1px solid #333;
		color: #fff;
	}

	.payment-light {
		background: #fff;
		color: #1a1a1a;
	}

	/* Group card */
	.footer-group {
		border: 1px dashed #4a4a4a;
		border-radius: 12px;
		padding: 24px;
		align-self: start;
	}

	.footer-group-title {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 1rem;
		color: #fff;
		flex-wrap: wrap;
	}

	.footer-pill {
		background: #fff;
		color: #111;
		font-size: 0.65rem;
		font-weight: 700;
		padding: 2px 8px;
		border-radius: 999px;
		letter-spacing: 0.04em;
	}

	.footer-group-desc {
		margin-top: 8px;
		font-size: 0.85rem;
		color: #9a9a9a;
		max-width: 380px;
	}

	.footer-group-brands {
		display: flex;
		flex-wrap: wrap;
		gap: 16px 24px;
		margin-top: 20px;
	}

	.footer-group-brand {
		display: inline-flex;
		align-items: center;
	}

	.footer-group-brand :global(svg) {
		height: 20px;
		width: auto;
	}

	/* Nav: accordions on mobile, columns on desktop */
	.footer-nav {
		display: flex;
		flex-direction: column;
		padding: 8px 0 32px;
	}

	.footer-col {
		display: contents;
	}

	.footer-nav-group {
		border-top: 1px solid #222;
	}

	.footer-nav-toggle {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 18px 0;
		background: none;
		border: none;
		color: #fff;
		font-family: inherit;
		font-size: 1rem;
		font-weight: 600;
		text-align: left;
		cursor: pointer;
	}

	.footer-chevron {
		width: 18px;
		height: 18px;
		flex-shrink: 0;
		transition: transform 0.2s ease;
	}

	.footer-nav-group.is-open .footer-chevron {
		transform: rotate(180deg);
	}

	.footer-nav-content {
		display: none;
		padding-bottom: 18px;
	}

	.footer-nav-group.is-open .footer-nav-content {
		display: block;
	}

	.footer-nav-content ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.footer-nav-content a {
		color: #9a9a9a;
		text-decoration: none;
		font-size: 0.9rem;
	}

	.footer-nav-content a:hover {
		color: #fff;
	}

	.footer-phone-divider {
		width: 24px;
		height: 1px;
		background: #333;
		margin: 16px 0;
	}

	.footer-phone {
		display: inline-flex;
		align-items: center;
		gap: 8px;
		color: #fff;
		text-decoration: none;
		font-family: 'JetBrains Mono', 'SF Mono', 'Courier New', monospace;
		font-weight: 600;
		font-size: 1rem;
		letter-spacing: 0.06em;
	}

	.footer-phone svg {
		width: 18px;
		height: 18px;
	}

	/* Bottom legal bar */
	.footer-bottom {
		display: flex;
		flex-direction: column;
		gap: 14px;
		padding-top: 24px;
		border-top: 1px solid #222;
		font-size: 0.8rem;
		color: #777;
	}

	.footer-legal-info {
		display: flex;
		flex-direction: column;
		gap: 14px;
	}

	.footer-legal-links {
		display: flex;
		flex-direction: column;
		gap: 14px;
	}

	.footer-legal-links a {
		color: #777;
		text-decoration: none;
	}

	.footer-legal-links a:hover {
		color: #fff;
	}

	/* Desktop */
	@media (min-width: 1024px) {
		.footer {
			padding: 64px 0 32px;
		}

		.footer-top {
			grid-template-columns: 1.4fr 1fr;
			gap: 48px;
			padding-bottom: 56px;
		}

		.footer-desc {
			font-size: 0.95rem;
		}

		.footer-group-brands {
			flex-wrap: nowrap;
			justify-content: space-between;
		}

		.footer-nav {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 32px;
			padding: 40px 0 48px;
		}

		.footer-col {
			display: block;
		}

		.footer-nav-group {
			border-top: none;
		}

		.footer-nav-group + .footer-nav-group {
			margin-top: 40px;
		}

		.footer-nav-toggle {
			padding: 0;
			margin-bottom: 16px;
			pointer-events: none;
		}

		.footer-chevron {
			display: none;
		}

		.footer-nav-content {
			display: block;
			padding-bottom: 0;
		}

		.footer-bottom {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}

		.footer-legal-info {
			flex-direction: row;
			gap: 24px;
		}

		.footer-legal-links {
			flex-direction: row;
			gap: 24px;
		}
	}
</style>
